
    .about-slider {
        width: 100%;
        padding-top: 50%;
        overflow: hidden;
        position: relative;

        &:focus, &:active {
            outline: 0;
        }

        &__slide {

            img {
                display: block;
                width: 100%;
            }

        }

        &__slide__video {
            position: relative;

            &__poster {
                position: relative;
                z-index: 10;
            }

            &__play {
                position: absolute;
                top: 50%; left: 50%;
                width: 124px; height: 124px;
                margin: -62px 0 0 -62px;
                border: none;
                background: url(images/play-button.svg) no-repeat center center transparent;
                text-indent: -9999em;
                opacity: 0.9;
                transition: opacity 0.5s ease;

                &:hover {
                    opacity: 1;
                }

            }

            &__embed {
                position: absolute;
                top: 0; left: 0;
                width: 100%;
                padding-top: 56.25%;
                margin-top: -2.5%;
                z-index: 0;

                iframe {
                    position: absolute;
                    top: 0; left: 0;
                    width: 100%; height: 100%;
                    border: none;
                    margin: 0; padding: 0;
                }

                &.playing {
                    z-index: 20;
                }

            }

        }

        .flickity-viewport {
            position: absolute;
            top: 0; left: 0;
            width: 100%; height: 100%;
        }

        .flickity-slider {
            height: 100%;
        }

        .gallery-cell {
            width: 100%;
            height: 100%;
        }

        .flickity-page-dots {
            position: absolute;
            bottom: 10px; right: 10px;
            text-align: right;

            .dot {
                float: left;
                width: 10px; height: 10px;
                background-color: #dad8d7;
                margin-left: 6px;
                cursor: pointer;

                &.is-selected {
                    background-color: #eae8e7;
                }

            }

        }

    }

    .about-content {
        padding: 58px 96px 54px 96px;

        h1, h2 {
            font-size: rem(36);
            color: #000;
            line-height: 1.05555555555556;
            margin: 0 0 1.16666666666667em 0;
            letter-spacing: 5.5px;
        }

        p {
            font-size: rem(13);
            letter-spacing: 2px;
            line-height: 2.38461538461538;
            margin: 0 0 2.46153846153846em 0;

            &:last-child {
                margin-bottom: 0;
            }

        }

        @include media($to-medium) {
            order: 1;
            padding: 46px 30px;
        }

        @include media($to-small) {
            padding: 30px 15px;

            h1, h2 {
                font-size: rem(28);
            }

            p {
                font-size: rem(12);
            }

        }

    }

    .about-image {

        img {
            display: block;
            width: 100%;
        }

    }

    .about-team {

        &__member {
            color: #fff;
            text-transform: uppercase;
            text-align: center;

            &__image, &__overlay {
                position: absolute;
                top: 0; left: 0;
                width: 100%; height: 100%;
            }

            &__image {
                z-index: 10;

                img {
                    display: block;
                    width: 100%;
                }

            }

            &__overlay {
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                justify-content: center;
                z-index: 20;
                background-color: $davidson-green;
                opacity: 0;
                transition: opacity 0.5s ease;
                padding: 0 10px;
            }

            &__name, &__role, &__linkedin {
                width: 100%;
                line-height: 1;
            }

            &__name {
                font-size: rem(26);
                font-weight: 700;
                margin-bottom: 38px;

                @include media($to-large) {
                    margin-bottom: 18px;
                }

                @include media($to-small) {
                    font-size: rem(20);
                    margin-bottom: 10px;
                }

            }

            &__role {
                font-size: rem(18);
            }

            &__linkedin {
                margin-top: 30px;

                a {
                    @extend %icon;
                    @extend .icon-linkedin;
                    display: inline-block;
                    width: 50px; height: 50px;
                    font-size: 34px;
                    text-indent: -9999em;
                    color: #fff;
                    position: relative;
                    transition: color 0.5s ease;

                    &:before {
                        position: absolute;
                        top: 50%; left: 50%;
                        margin: -17px 0 0 -17px;
                    }

                    &:hover {
                        color: tint($davidson-green, 50%);
                    }

                }

                @include media($to-large) {
                    margin-top: 10px;
                }

                @include media($to-small) {
                    margin-top: 4px;
                }

            }

            &:hover {

                .about-team__member__overlay {
                    opacity: 1;
                }

            }

        }

    }


    .growth-chart {
        width: 100%;
        text-align: center;
        padding: 76px 15px 25px 15px;

        $growth-width: 756;
        $growth-height: 803;

        &__diagram {
            display: inline-block;
            width: 100%;
            max-width: $growth-width + 0px;

            &__inner {
                width: 100%;
                padding-top: (($growth-height / $growth-width) * 100) + 0%;
                position: relative;
            }

        }

        &__center {
            position: absolute;
            top: 50%; left: 50%;
            width: ((344 / $growth-width) * 100) + 0%;
            height: ((344 / 803) * 100) + 0%;
            margin-top: -(((194 / $growth-width) * 100)) + 0%;
            margin-left: -(((172 / $growth-width) * 100)) + 0%;
            background: url(images/growth-chart__center.png) no-repeat center center transparent;
            background-size: 100% auto;
            z-index: 20;
        }

        &__circle {
            position: absolute;
            top: 50%; left: 50%;
            width: ((296 / $growth-width) * 100) + 0%;
            height: ((296 / $growth-height) * 100) + 0%;
            margin-top: -(((148 / $growth-width) * 100)) + 0%;
            margin-left: -(((148 / $growth-width) * 100)) + 0%;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 100% auto;
            transition: all 3s cubic-bezier(0.165, 0.840, 0.440, 1.000);
            transform: translate3d(0,0,0);
            opacity: 0;
            z-index: 10;

            .growth-chart--visible & {
                opacity: 1;
            }

            &--competitive {
                background-image: url(images/growth-chart__circle--competitive.svg);
                transition-delay: 0.1s;

                .growth-chart--visible & {
                    top: ((223 / $growth-height) * 100) + 0%;
                    left: ((642 / $growth-width) * 100) + 0%;
                }

            }

            &--positioning {
                background-image: url(images/growth-chart__circle--positioning.svg);
                transition-delay: 0.2s;

                .growth-chart--visible & {
                    top: ((517 / $growth-height) * 100) + 0%;
                    left: ((650 / $growth-width) * 100) + 0%;
                }

            }

            &--identity {
                background-image: url(images/growth-chart__circle--identity.svg);
                transition-delay: 0.3s;

                .growth-chart--visible & {
                    top: ((678 / $growth-height) * 100) + 0%;
                    left: ((384 / $growth-width) * 100) + 0%;
                }

            }

            &--social {
                background-image: url(images/growth-chart__circle--social.svg);
                transition-delay: 0.4s;

                .growth-chart--visible & {
                    top: ((517 / $growth-height) * 100) + 0%;
                    left: ((107 / $growth-width) * 100) + 0%;
                }

            }

            &--culture {
                background-image: url(images/growth-chart__circle--culture.svg);
                transition-delay: 0.5s;

                .growth-chart--visible & {
                    top: ((222 / $growth-height) * 100) + 0%;
                    left: ((112 / $growth-width) * 100) + 0%;
                }

            }

            &--insight {
                background-image: url(images/growth-chart__circle--insight.svg);
                transition-delay: 0.6s;

                .growth-chart--visible & {
                    top: ((78 / $growth-height) * 100) + 0%;
                    left: ((384 / $growth-width) * 100) + 0%;
                }

            }

        }

    }
