
    .case-study {

        &__cols {
            @extend %flex-grid;
        }

        &__sidebar {
            width: 69.9%;
            order: 1;

            @include media($to-xlarge) { width: 100%; }

            &__image-grid {

                &__image {
                    padding: 2px;

                    img {
                        display: block;
                        width: 100%;
                    }

                }

                &.layout-3xgrid {

                    .case-study__sidebar__image-grid__image {
                        width: 33.3333333%;
                        float: left;
                    }

                }

                &.layout-1xgrid {

                    .case-study__sidebar__image-grid__image {
                        width: 100%;
                        float: left;
                    }

                }

                &.layout-altgrid {

                    .case-study__sidebar__image-grid__image {
                        width: 33.3333333%;
                        float: left;

                        &:first-child {
                            width: 66.666666%;
                        }

                    }

                }

                &.layout-altgrid2 {

                    .case-study__sidebar__image-grid__image {
                        width: 33.3333333%;
                        float: left;

                        &:first-child, &:nth-child(4) {
                            width: 66.666666%;
                        }

                    }

                }

            }

            @include media($to-xlarge) {
                order: 2;
            }

        }

        &__main {
            width: 25%;
            padding: 30px 40px 0 40px;
            line-height: 1.7;
            order: 2;

            @include media($to-xlarge) { width: 100%; }

            h1, h2 {
                font-weight: 400;
            }

            h1 {
                font-size: rem(19);
                margin: 0 0 10px 0;
                text-align: left;
            }

            p {
                font-size: rem(14);
                margin: 0.5em 0;

            }

            @include media($to-xlarge) {
                order: 1;
                margin-bottom: 30px;
            }

            @include media($to-medium) {
                padding-left: 0;
                padding-right: 0;
            }

        }

        &__wrap {
            display: flex;
            flex-flow: row wrap;
        }

        &__hero {
            width: 100%;
            order: 0;
            display: none;

            img {
                display: block;
                width: 100%;
            }

            @include media($to-medium) {
                display: block;
            }

        }

        &__tiles {
            width: 100%;
            order: 1;

            @include media($to-medium) {
                order: 2;
            }

            &__tile {
                overflow: hidden;

                &__image, &__link, &__video {
                    position: absolute;
                    top: -1px; bottom: -1px;
                    left: -1px; right: -1px;
                    //width: 100%; height: 100%;
                }

                &__image, &__video {
                    z-index: 10;
                }

                &__link {
                    display: flex;
                    align-items: center;
                    flex-flow: row wrap;
                    z-index: 20;
                    background-color: $davidson-green;
                    opacity: 0;
                    transition: opacity 0.5s ease;
                    color: #fff;
                    text-align: center;
                    text-transform: uppercase;
                    transform: translate3d(0, 0, 0);

                    &__inner {
                        width: 100%;
                        padding: 0 4%;
                    }

                    &:hover {
                        opacity: 1;
                        text-decoration: none !important;
                    }

                    &--small {

                        .case-study__tiles__tile__name {
                            font-size: rem(24);
                            margin-bottom: 28px;
                        }

                    }

                    &--medium {

                        .case-study__tiles__tile__name {
                            font-size: rem(34);
                            margin-bottom: 52px;
                        }

                    }

                    &--large {

                        .case-study__tiles__tile__name {
                            font-size: rem(56);
                            margin-bottom: 36px;
                        }

                        .case-study__tiles__tile__subtitle {
                            margin-top: -28px;
                            margin-bottom: 42px;
                        }

                        .case-study__tiles__tile__view {
                            padding: 16px 90px;
                        }

                    }


                }

                &__video {

                    &__link {
                        position: absolute;
                        top: 0; left: 0;
                        width: 100%; height: 100%;
                        z-index: 10;
                        background-color: rgba($davidson-light-grey, 0.25);
                        transition: all 0.5s ease;
                        text-indent: -9999em;

                        &:hover {
                            background-color: rgba($davidson-light-grey, 0.5);

                            &:before {
                                opacity: 0.75;
                            }

                        }

                        &:before {
                            content: '';
                            position: absolute;
                            top: 50%; left: 50%;
                            width: 124px; height: 124px;
                            margin: -62px 0 0 -62px;
                            background: url(images/play-button.svg) no-repeat center center transparent;
                            background-size: 100% 100%;
                            opacity: 0.5;
                            transition: all 0.5s ease;
                        }

                    }

                }

                &__video {

                    &__poster {
                        position: relative;
                        z-index: 10;
                    }

                    &__play {
                        position: absolute;
                        top: 50%; left: 50%;
                        width: 124px; height: 124px;
                        margin: -62px 0 0 -62px;
                        border: none;
                        background: url(images/play-button.svg) no-repeat center center transparent;
                        text-indent: -9999em;
                        opacity: 0.5;
                        transition: opacity 0.5s ease;

                        &:hover {
                            opacity: 1;
                        }

                        &:active, &:focus {
                            outline: 0;
                        }

                    }

                    &__embed {
                        position: absolute;
                        top: 0; left: 0;
                        width: 100%;
                        padding-top: 56%;
                        margin-top: -2.5%;
                        z-index: 0;

                        iframe {
                            position: absolute;
                            top: -0.5%; left: -0.5%;
                            width: 101%; height: 101%;
                            border: none;
                            margin: 0; padding: 0;
                        }

                        &.playing {
                            z-index: 20;
                        }

                    }

                }

                &__quote {
                    width: 100%; height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: rem(13);
                    text-align: center;
                    line-height: 1.52;
                    text-transform: uppercase;
                    padding: 0 60px;
                    background-color: $davidson-very-light-grey;
                    color: #000;

                    @include media($to-large) {
                        padding: 0 15px;
                        font-size: rem(12);
                    }

                    @include media($to-medium) {
                        padding: 0 60px;
                        font-size: rem(13);
                    }

                    @include media($to-small) {
                        padding: 0 15px;
                        font-size: rem(11);
                    }

                }

                &__name, &__subtitle {
                    width: 100%;
                    line-height: 1.1;
                }

                &__name {
                    font-size: rem(24);
                    font-weight: 700;
                    margin: 0 0 0 0;
                    letter-spacing: 5px;
                }

                &__subtitle {
                    font-size: rem(20);
                    letter-spacing: 2px;
                }

                &__view {
                    display: inline-block;
                    font-size: rem(13);
                    border: 1px solid #fff;
                    padding: 10px 48px;
                }

                &__slider {
                    width: 100%; height: 100%;
                    position: relative;

                    img {
                        display: block;
                        position: absolute;
                        top: 0; left: 0;
                        width: 100%; height: 100%;
                    }

                }

            }

        }

        &__content {
            order: 2;
            padding: 46px 130px;

            h1, p {
                font-size: rem(13);
                letter-spacing: 2px;
                line-height: 1.69230769230769;
            }

            a {
                color: $davidson-dark-grey;
                transition: color 0.3s ease;

                &:hover {
                    color: $davidson-green;
                    text-decoration: none;
                }

            }

            &__links {
                font-weight: 700;
            }

            @include media($to-medium) {
                order: 1;
                padding: 46px 30px;
            }

            @include media($to-small) {
                padding: 30px 15px;

                h1, p {
                    font-size: rem(12);
                }

            }

        }

        &__overview {

            &__content {
                padding: 47px 140px;

                h1, p {
                    letter-spacing: 2px;
                }

                h1 {
                    font-size: rem(18.5);
                    line-height: 2.054;
                }

                p {
                    font-size: rem(16.5);
                    line-height: 2.30;
                    margin-bottom: 1.39em;
                }

                @include media($to-large) {
                    padding: 47px 60px;
                }

                @include media($to-medium) {
                    padding: 47px 30px;

                    br { display: none; }

                }

                @include media($to-medium) {

                    h1, p {
                        font-size: rem(14);
                    }

                }

            }

        }

    }
