
    .comptetitive-strategy {

        &__banner {

        }

        &__content {
            padding: 46px 130px;

            h1, p {
                font-size: rem(13);
                letter-spacing: 2px;
                line-height: 1.69230769230769;
            }

            @include media($to-medium) {
                order: 1;
                padding: 46px 30px;
            }

            @include media($to-small) {
                padding: 30px 15px;

                h1, p {
                    font-size: rem(12);
                }

            }

        }

    }
