
    .contact {

        &__details {

            &__contacts {
                width: 100%; height: 100%;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                flex-flow: row wrap;
                background-color: $davidson-lighter-grey;

                @include media($to-small) {
                    padding: 15px;
                }

            }

            &__contact {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50%; height: 50%;
                text-align: center;
                font-size: rem(13);
                text-transform: uppercase;
                line-height: 1.67;
                color: #000;

                a {
                    color: #000;
                    transition: color 0.5s ease;

                    &:hover {
                        color: $davidson-green;
                        text-decoration: none;
                    }

                }

                @include media($to-small) {
                    width: 100%;
                }

                @include media($to-small) {
                    margin: 10px 0;
                }

            }

            &__image-cell, &__map-cell {
                width: 25%;
                padding-top: 25%;

                @include media($to-xlarge) {
                    width: 50%;
                    padding-top: 50%;
                }

                @include media($to-small) {
                    width: 100%;
                    padding-top: 100%;
                }

            }

            &__contacts-cell {
                width: 50%;
                padding-top: 25%;

                @include media($to-xlarge) {
                    width: 100%;
                    padding-top: 30%;
                }

                @include media($to-medium) {
                    padding-top: 50%;
                }

                @include media($to-small) {
                    padding: 0;

                    &__inner {
                        position: relative;
                        top: auto; left: auto;
                    }

                }

            }

        }

        &__addresses {
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-flow: row wrap;
            background-color: $davidson-dark-grey;

            &__address {
                width: 50%;
                text-align: center;
                font-size: rem(13);
                text-transform: uppercase;
                line-height: 1.67;
                color: #fff;

                &__inner {
                    padding: 32px 0;
                }

                a {
                    color: #fff;
                    transition: color 0.5s ease;

                    &:hover {
                        color: $davidson-green;
                        text-decoration: none;
                    }

                }

                @include media($to-small) {
                    width: 100%;

                    &__inner {
                        padding: 15px 0;
                    }

                }

            }

            @include media($to-small) {
                padding: 15px;
            }

        }

        &__content {
            padding: 47px 140px;

            h1, p {
                letter-spacing: 2px;
            }

            h1 {
                font-size: rem(18.5);
                line-height: 2.054;
            }

            p {
                font-size: rem(16.5);
                line-height: 2.30;
                margin-bottom: 1.39em;
            }

            @include media($to-large) {
                padding: 47px 60px;
            }

            @include media($to-medium) {
                padding: 47px 30px;

                br { display: none; }

            }

            @include media($to-medium) {

                h1, p {
                    font-size: rem(14);
                }

            }

        }

    }

    .google-map {
        width: 100%;
        padding-top: 100%;
        position: relative;

        &__map {
            position: absolute;
            top: 0; left: 0;
            width: 100%; height: 100%;
        }

    }
