
    .events-calendar {
        @extend %stadium-bg;

        img {
            display: block;
            max-width: 100%;
        }

        &__table {
            margin: 0 0 46px 0;

            th, td {
                width: 25%;
                text-align: center;
                border: none;
            }

            th {
                padding: 15px 0;
                background-color: #000;
                color: #fff;
                font-size: rem(20);
                font-weight: 700;
                text-transform: uppercase;
            }

            td {
                padding: 26px 15px;
                font-size: rem(18);
                color: $storm-blue-grey;
                line-height: 1.2;

                &.month {
                    color: #000;
                    text-transform: uppercase;
                    font-weight: 700;
                }

                &.event {
                    font-weight: 700;
                }

                &.date, &.venue {
                    @extend %font-helvetica;
                }

            }

        }

    }
