
    .events {

        &-summary {
            width: 100%;
            display: flex;
            align-items: stretch;
            justify-content: center;
            flex-flow: row wrap;

            &__tile {
                display: flex;
                width: 23.157894736842%;
                margin-right: 2.456140350877%;
                margin-bottom: 40px;

                &:nth-child(4n + 4), &:last-child {
                    margin-right: 0;
                }

                a {
                    color: #000;

                    &:hover {
                        text-decoration: none;

                        .events-summary__tile__image:before {
                            opacity: 0.25;
                        }

                    }

                }

                &__image {
                    width: 100%;
                    position: relative;
                    margin-bottom: 24px;
                    background-color: $storm-purple;

                    &:before {
                        content: '';
                        position: absolute;
                        top: 0; left: 0;
                        width: 100%; height: 100%;
                        background-color: $storm-purple;
                        opacity: 0;
                        z-index: 10;
                        @extend %standard-transition;
                    }

                    img {
                        display: block;
                        width: 100%;
                    }

                }

                &__date {
                    position: absolute;
                    bottom: 0; left: 0;
                    width: 100%;
                    background-color: $storm-purple;
                    color: #fff;
                    font-size: rem(16);
                    text-transform: uppercase;
                    padding: 7px 14px;
                    z-index: 20;
                }

                &__title {
                    font-size: rem(16);
                    font-weight: 700;
                    text-transform: uppercase;
                    text-align: left;
                    line-height: 1.25;
                    margin: 0 0 36px 0;
                    position: relative;

                    &:after {
                        content: '';
                        position: absolute;
                        bottom: -18px; left: 0;
                        width: 66px; height: 2px;
                        background-color: $storm-purple;
                    }

                }

                &__description {
                    @extend %font-helvetica;
                    font-size: rem(14);
                    line-height: 1.42857142857143;
                    color: $storm-blue-grey;

                    p {
                        margin: 0 0 1.42857142857143em 0;

                        &:last-child {
                            margin-bottom: 0;
                        }

                    }

                }

            }

        }

    }
