
    .fixture {
        @extend %stadium-bg;

        img {
            display: block;
            max-width: 100%;
        }

        &__table {
            margin: 0 0 46px 0;

            th, td {
                text-align: center;
                border: none;
                font-weight: 700;
                text-transform: uppercase;

                &.round { width: 140px; }
                &.kickoff { width: 220px; }
                &.opponent { width: 130px; }
                &.venue { width: 220px; }

            }

            th {
                padding: 15px 0;
                background-color: #000;
                color: #fff;
                font-size: rem(20);
            }

            td {
                padding: 10px 15px;
                font-size: rem(18);
                color: $storm-blue-grey;
            }

        }

    }
