
    .home-slider {
        width: 100%;
        padding-top: 50%;
        overflow: hidden;
        position: relative;

        &:focus, &:active {
            outline: 0;
        }

        &__slide {

            img {
                display: block;
                width: 100%;
            }

        }

        .flickity-viewport {
            position: absolute;
            top: 0; left: 0;
            width: 100%; height: 100%;
        }

        .flickity-slider {
            height: 100%;
        }

        .gallery-cell {
            width: 100%;
            height: 100%;
        }

        &__slide__video {
            position: relative;

            &__poster {
                position: relative;
                z-index: 10;
            }

            &__play {
                position: absolute;
                top: 50%; left: 50%;
                width: 124px; height: 124px;
                margin: -62px 0 0 -62px;
                border: none;
                background: url(images/play-button.svg) no-repeat center center transparent;
                text-indent: -9999em;
                opacity: 0.9;
                transition: opacity 0.5s ease;

                &:hover {
                    opacity: 1;
                }

            }

            &__embed {
                position: absolute;
                top: 0; left: 0;
                width: 100%;
                padding-top: 56.25%;
                margin-top: -2.5%;
                z-index: 0;

                iframe {
                    position: absolute;
                    top: 0; left: 0;
                    width: 100%; height: 100%;
                    border: none;
                    margin: 0; padding: 0;
                }

                &.playing {
                    z-index: 20;
                }

            }

        }

        .flickity-page-dots {
            position: absolute;
            bottom: 10px; right: 10px;
            text-align: right;

            .dot {
                float: left;
                width: 10px; height: 10px;
                background-color: #dad8d7;
                margin-left: 6px;
                cursor: pointer;

                &.is-selected {
                    background-color: #eae8e7;
                }

            }

        }

    }

    .home-tiles {

        &__tile {

            &__image {
                position: absolute;
                top: 0; left: 0;
                width: 100%;
                z-index: 10;

                img {
                    display: block;
                    width: 100%;
                }

            }

            &__label {
                position: absolute;
                top: 50%; left: 0;
                width: 100%;
                margin-top: -13px;
                z-index: 30;
                text-align: center;
                text-transform: uppercase;
                font-size: rem(38);
                font-weight: 700;
                color: #fff;
                pointer-events: none;

                &:before {
                    content: '';
                    position: absolute;
                    top: -16px; left: 50%;
                    width: 66px; height: 14px;
                    margin: 0 0 0 -33px;
                    background: url(images/davidson-logo-white.svg) no-repeat center center transparent;
                    background-size: 100% auto;
                }

            }

            &__link {
                display: block;
                position: absolute;
                top: 0; left: 0;
                width: 100%; height: 100%;
                z-index: 20;
                background-color: rgba(#000, 0.3);
                transition: opacity 0.5s ease;
                text-indent: -9999em;
                opacity: 0;

                &:hover {
                    opacity: 0 !important;
                }

            }

        }

        &:hover {

            .home-tiles__tile__link {
                opacity: 1;
            }

        }

    }

    .home-content {
        padding: 58px 96px 54px 96px;

        h1, h2 {
            font-size: rem(36);
            color: #000;
            line-height: 1.05555555555556;
            margin: 0 0 1.16666666666667em 0;
            letter-spacing: 5.5px;
        }

        p {
            font-size: rem(13);
            letter-spacing: 2px;
            line-height: 2.38461538461538;
            margin: 0 0 2.46153846153846em 0;

            &:last-child {
                margin-bottom: 0;
            }

        }

        @include media($to-medium) {
            order: 1;
            padding: 46px 30px;
        }

        @include media($to-small) {
            padding: 30px 15px;

            h1, h2 {
                font-size: rem(28);
            }

            p {
                font-size: rem(12);
            }

        }

    }
