
    .package-event {
        padding: 0 15px;

        &__inner {
            @include outer-container;
        }

        h1, h2, h3 {
            text-align: left;
        }

        h1 {
            margin: 56px 0 45px 0;
        }

        h2 {
            background-color: $storm-purple;
            color: #fff;
            font-size: rem(25);
            padding: 5px 20px;
            margin-bottom: 24px;
        }

        h3 {
            background-color: $storm-grey;
            color: #fff;
            font-size: rem(14);
            text-transform: uppercase;
            padding: 8px 20px;
            margin: 0 0 22px 0;
        }

        &__hero {
            margin-top: 56px;

            img {
                width: 100%;
            }

        }

        &__main {
            width: 65%;
            float: left;
            padding-right: 100px;
            margin-bottom: 80px;

            &__content {

                p {
                    font-weight: 700;
                    text-transform: uppercase;
                    line-height: 1.5;
                    margin-bottom: 1.5em;

                    &:last-child {
                        margin-bottom: 0;
                    }

                }

            }

            &__sections {
                @extend %font-helvetica;
                font-size: rem(14);
                line-height: 1.42857142857143;
                color: $storm-blue-grey;
                margin-top: 22px;

                h2:first-child {
                    margin-top: 0;
                }

                p, ul {
                    margin-bottom: 1.42857142857143em;
                    padding-left: 21px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                }

                ul {

                    > li {
                        margin-bottom: 7px;

                        &:before {
                            display: inline-block;
                            content: '\003e';
                            color: $storm-purple;
                            vertical-align: top;
                            margin-right: 14px;
                        }

                        &:last-child {
                            margin-bottom: 0;
                        }

                    }

                }

                a {
                    color: $storm-blue-grey;
                }

            }

            &__section {
                margin-bottom: 36px;
            }

            &__buttons {
                margin-top: 45px;

                .button {
                    margin-bottom: 22px;
                }

            }

            &__view-buttons {

                .button {
                    margin-bottom: 14px;
                }

            }

        }

        &__sidebar {
            width: 35%;
            float: left;
            padding-top: 55px;

            &__images {

                img {
                    display: block;
                    width: 100%;
                    margin-bottom: 36px;
                }

            }

            &__related {

                h2 {
                    margin: 0 0 8px 0;
                }

                ul {

                    > li {

                        a {
                            @extend %standard-transition;
                            display: block;
                            font-size: rem(14);
                            font-weight: 700;
                            color: $storm-blue-grey;
                            text-transform: uppercase;
                            padding: 19px 0;

                            &:hover {
                                text-decoration: none !important;
                                color: $storm-purple;
                            }

                        }

                        + li {
                            border-top: 1px solid $storm-purple;
                        }

                    }

                }

            }

        }

    }
