
    .partners {
        @extend %stadium-bg;

        h2 {
            background-color: $storm-purple;
            color: #fff;
            font-size: rem(25);
            padding: 5px 20px;
            margin: 0 0 36px 0;
            text-align: left;
            clear: left;
        }

        a {
            color: #000;

            &:hover {
                text-decoration: none !important;
            }

        }

        img {
            display: block;
            max-width: 100%;
        }

        p {
            @extend %font-helvetica;
            font-size: rem(14);
            line-height: 1.42857142857143;
            margin: 0 0 1.42857142857143em 0;

            &:last-child {
                margin-bottom: 0;
            }

        }

        &__major {
            padding-bottom: 36px;

            a {
                width: 100%;
                float: left;
                margin-bottom: 36px;
            }

            &__logo {
                float: left;
                margin-right: 30px;
            }

        }

        &__sections {
            padding-bottom: 85px;
        }

        &__section {

            &__tiles {
                display: flex;
                align-items: top;
                justify-content: left;
                flex-flow: row wrap;
            }

            &__tile {
                display: flex;
                width: 23.157894736842%;
                margin-right: 2.456140350877%;
                margin-bottom: 40px;

                &:nth-child(4n + 4), &:last-child {
                    margin-right: 0;
                }

            }

            &__logo {
                display: flex;
                min-height: 90px;
                align-items: center;
            }

        }

    }
