
    .button {
        font-family: 'GovernmentAgentBB';
        @extend %standard-transition;
        @extend %icon;
        //@extend .icon-arrow-right;
        display: inline-block;
        border: none;
        color: #000;
		font-style: italic;
        font-size: rem(18);
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        line-height: 1;
        margin: 0;
        padding: 13px 22px;
        background: none;
        transform: skew(-15deg);
        cursor:pointer;

        span{
            display: block;
            transform: skew(15deg);  
        }

        &:hover {
            text-decoration: none !important;
        }

        &:active, &:focus {
            outline: 0 !important;
        }

        

        &--medium {
            font-size: rem(16);
            padding: 8px 22px;
        }

        &--gold {
            background-color: $brand-light-gold;
            color: $brand-purple;

            &:hover {
                background-color: $brand-purple;
                color: $brand-white;
                &:before {
                    color: $brand-light-gold;
                }
            }

            &:before {
                color: $brand-purple;
            }
        }

        &--purple {
            background-color: $brand-purple;
            color: $brand-white;

            &:hover {
                background-color: $brand-light-gold;
                color: $brand-purple;
                &:before {
                    color: $brand-light-gold;
                }
            }

            &:before {
                color: $brand-purple;
            }
        }

        &--white {
            background-color: $brand-white;
            color: $brand-purple;

            &:hover {
                background-color: $brand-purple;
                color: $brand-white;
                &:before {
                    color: $brand-white;
                }
            }

            &:before {
                color: $brand-white;
            }
        }

        &--blue {
            background-color: $dogs-blue;
            color: #fff;

            &:hover {
                background-color: shade($dogs-blue, 15%);
            }

        }

        

        &--icon {
            /* @extend %icon;
            padding-left: 50px; */
			
			&.icon-download_icon:before{
				font-family: 'icomoon'!important;
			}

            &:before {
                position: absolute;
                top: 41%;
                right: 15px;
                margin-top: -7px;
                color: #fff;
                content: "\f138";
                font-family: 'FontAwesome';
                transform: skew(15deg);
                font-size: 19px;
                color: $brand-purple;
            }

            /* &:before {
                position: absolute;
                top: 50%; left: 18px;
                font-size: 14px;
                margin-top: -7px;
            } */

            &--right {
                padding-left: 22px;
                padding-right: 50px;

                &:before {
                    left: auto;
                    right: 18px;
                }

            }

            &--large {

                &:before {
                    font-size: 36px;
                    margin-top: -18px;
                    left: 0;
                }

            }

        }
    }


    .btn-strike {
        display: inline-block;
        width: 175px;
        height: 70px;
        background: linear-gradient(#ffb81c 0,#e0960b 100%);
        transform: skew(-15deg);
        font-size: rem(21);
        color: $brand-purple;
        text-transform: uppercase;
        text-align: center;
        vertical-align: top;
        margin: 0 45px 42px 15px;
        box-shadow: 5px 5px 18px rgba(0,0,0,.8);
        font-family: 'GovernmentAgentBB';
        font-weight: 400!important;
        font-style:italic;
        padding: 0;

        @include media($to-xlarge) {
           width: 130px;
           height: 60px;
           font-size: rem(16);
           padding: 8px 6px 0 15px;
           margin: 0 20px 36 15px;
        }

        &:hover{
            text-decoration: none !important;
            color: $brand-white;
            .btn-strike__strike{
                &:before {
                    transform: translate(-50%,-50%) scale(5) skew(15deg);
                }
            }
        }
        

        &__inner{
            width: 100%;
            height: 100%;
            transform: skew(15deg);
            position: relative;
            z-index: 20;
            padding: 8px 35px 0 20px;
            line-height: .9;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-pack: center;
            justify-content: center;

            @include media($to-xlarge) {
                    padding: 0px 35px 0 5px;
            }

            &:after{
                content: '';
                position: absolute;
                pointer-events: none;
                top: 50%;
                transform: translateY(-50%);
                background: url(../images/home-hero__button__strike.png) center center/100% auto no-repeat;
                right: -55px;
                width: 99px;
                height: 150px;

                @include media($to-xlarge) {
                    right: -49px;
                    width: 87px;
                    height: 150px;
                }
            }
        }

        &__strike{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 10;
            overflow: hidden;

            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                width: 162px;
                height: 264px;
                transform: translate(-50%,-50%) scale(0) skew(15deg);
                transition: .3s all ease;
                background: url(../images/home-hero__button__strike-bg.svg) center center/100% auto no-repeat;
            }
        }
    }


/* SQUARED THREE */


.custom-ckeck-wrapper{
    line-height: 18px;
    text-align: left;
    margin-bottom: 14px;

    .custom-ckeck-box {
        width: 26px;
        height: 26px;   
        position: relative;
        float: left;
        margin-right: 10px;
        
        input[type=checkbox] {
            display: none;

            &:checked + label:after {
                opacity: 1;
            }
        }

        label {
            cursor: pointer;
            position: absolute;
            width: 26px;
            height: 26px;
            top: 0;
            left: 0;

            background: $brand-white;

            &:after {
                opacity: 0;
                content: '';
                position: absolute;
                width: 14px;
                height: 7px;
                background: transparent;
                top: 9px;
                left: 5px;
                border: 3px solid $brand-dark-gold;
                border-top: none;
                border-right: none;

                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }

            &:hover::after {
                opacity: 0.3;
            }
        }
    }

    .custom-ckeck-label {
        font-family: 'GothamLight';
        font-size: rem(14);
        color: $brand-white;
        display: block;
        overflow: hidden;
    }
}
