@font-face {
    font-family: 'GovernmentAgentBBRegular';
    src: url('../fonts/GovernmentAgentBBRegular.eot');
    src: url('../fonts/GovernmentAgentBBRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GovernmentAgentBBRegular.woff') format('woff'),
        url('../fonts/GovernmentAgentBBRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamMedium';
    src: url('../fonts/Gotham-Medium.eot');
    src: url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-Medium.woff') format('woff'),
        url('../fonts/Gotham-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GovernmentAgentBB';
    src: url('../fonts/GovernmentAgentBB.eot');
    src: url('../fonts/GovernmentAgentBB.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GovernmentAgentBB.woff') format('woff'),
        url('../fonts/GovernmentAgentBB.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GovernmentAgentBBItalic';
    src: url('../fonts/GovernmentAgentBBItalic.eot');
    src: url('../fonts/GovernmentAgentBBItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GovernmentAgentBBItalic.woff') format('woff'),
        url('../fonts/GovernmentAgentBBItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'GothamBook';
    src: url('../fonts/GothamBookRegular.eot');
    src: url('../fonts/GothamBookRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamBookRegular.woff') format('woff'),
        url('../fonts/GothamBookRegular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Medium_1.eot');
    src: url('../fonts/Gotham-Medium_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-Medium_1.woff') format('woff'),
        url('../fonts/Gotham-Medium_1.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GothamLight';
    src: url('../fonts/Gotham-Light.eot');
    src: url('../fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-Light.woff') format('woff'),
        url('../fonts/Gotham-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GovernmentAgentBB';
    src: url('../fonts/GovernmentAgentBB-Italic.eot');
    src: url('../fonts/GovernmentAgentBB-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GovernmentAgentBB-Italic.woff') format('woff'),
        url('../fonts/GovernmentAgentBB-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Medium_2.eot');
    src: url('../fonts/Gotham-Medium_2.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-Medium_2.woff') format('woff'),
        url('../fonts/Gotham-Medium_2.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GothamBold';
    src: url('../fonts/GothamBold.eot');
    src: url('../fonts/GothamBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamBold.woff') format('woff'),
        url('../fonts/GothamBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ITCFranklinGothicLTBook';
    src: url('../fonts/FranklinGothicLT-Book.eot');
    src: url('../fonts/FranklinGothicLT-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FranklinGothicLT-Book.woff') format('woff'),
        url('../fonts/FranklinGothicLT-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ITCFranklinGothicLTHeavy';
    src: url('../fonts/FranklinGothicLT-Heavy.eot');
    src: url('../fonts/FranklinGothicLT-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FranklinGothicLT-Heavy.woff') format('woff'),
        url('../fonts/FranklinGothicLT-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLightCond';
    src: url('../fonts/HelveticaNeue-LightCond.eot');
    src: url('../fonts/HelveticaNeue-LightCond.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeue-LightCond.woff') format('woff'),
        url('../fonts/HelveticaNeue-LightCond.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
	  font-family: 'icomoon';
	  src:  url('../fonts/icomoon.eot?8r8lj6');
	  src:  url('../fonts/icomoon.eot?8r8lj6#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?8r8lj6') format('truetype'),
		url('../fonts/icomoon.woff?8r8lj6') format('woff'),
		url('../fonts/icomoon.svg?8r8lj6#icomoon') format('svg');
	  font-weight: normal;
	  font-style: normal;
	}

	[class^="icon-"], [class*=" icon-"] {
	  /* use !important to prevent issues with browser extensions that change fonts */
	  font-family: 'icomoon' !important;
	  speak: none;
	  font-style: normal;
	  font-weight: normal;
	  font-variant: normal;
	  text-transform: none;
	  line-height: 1;

	  /* Better Font Rendering =========== */
	  -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
	}

	.icon-download_icon:before {
	  content: "\e900";
	}


