@font-face {
    font-family: 'Lost Bulldog';
    src: url('icons/lostbulldog.eot?#iefix') format('embedded-opentype'),
         url('icons/lostbulldog.woff') format('woff'),
         url('icons/lostbulldog.ttf') format('truetype'),
         url('icons/lostbulldog.svg#lostbulldog') format('svg');
    font-weight: normal;
    font-style: normal;
}

%icon {
    position: relative;

    &:before {
    	font-family: 'Lost Bulldog';
    	speak: none;
    	font-style: normal;
    	font-weight: normal;
    	font-variant: normal;
    	text-transform: none;
    	line-height: 1;
    	-webkit-font-smoothing: antialiased;
    	-moz-osx-font-smoothing: grayscale;
    	text-indent: 0 !important;
    }

}

%icon-after {
    position: relative;

    &:after {
    	font-family: 'Lost Bulldog';
    	speak: none;
    	font-style: normal;
    	font-weight: normal;
    	font-variant: normal;
    	text-transform: none;
    	line-height: 1;
    	-webkit-font-smoothing: antialiased;
    	-moz-osx-font-smoothing: grayscale;
    	text-indent: 0 !important;
    }

}


.icon-facebook:before { content: '\e000'; }
.icon-instagram:before { content: '\e001'; }
.icon-twitter:before { content: '\e002'; }
.icon-download:before { content: '\e003'; }
.icon-print:before { content: '\e004'; }
.icon-share:before { content: '\e005'; }
.icon-arrow-right:before { content: '\e006'; }
.icon-email:before { content: '\e007'; }
.icon-arrow-down:before { content: '\e008'; }

.icon-facebook-after:after { content: '\e000'; }
.icon-instagram-after:after { content: '\e001'; }
.icon-twitter-after:after { content: '\e002'; }
.icon-download-after:after { content: '\e003'; }
.icon-print-after:after { content: '\e004'; }
.icon-share-after:after { content: '\e005'; }
.icon-arrow-right-after:after { content: '\e006'; }
.icon-email-after:after { content: '\e007'; }
.icon-arrow-down-after:after { content: '\e008'; }
