
    .responsive-nav-wrap {
        position: fixed;
        top: 0; left: 0;
        width: 100%; height: 100%;
        z-index: 999;
        visibility: hidden;
        @include transition(visibility 0s linear 0.5s);

        body.nav-open & {
            visibility: visible;
            @include transition(visibility 0s linear 0s);
        }

        @media screen and (min-width: 880px) {
            display: none !important;
        }


        .responsive-nav {
            position: absolute;
            top: 0; left: 20%;
            width: 80%; height: 100%;
            background-color: rgba(#fff, 0.95);
            //padding: 20px 0;
            z-index: 2;
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;
            @include transition(all 0.5s ease);
            @include transform(translateX(100%));

            body.nav-open & {
                @include transform(translateX(0));
            }

            > ul {
                width: 100%;
                list-style: none;
                margin: 20px 0 10px 0;
                padding: 0;

                li {
                    display: block;
                    width: 100%;
                    margin: 0; padding: 0;
                    border: none;

                    a {
                        display: block;
                        padding: 12px 32px;
                        font-size: rem(19);
                        line-height: 1.3;
                        text-transform: uppercase;
                        color: #000;
                        display: block;

                        &:hover {
                            text-decoration: none;
                        }

                    }

                    .sub-menu {
                        padding-left: 25px;

                        li a {
                            font-size: rem(14);
                        }

                    }

                }

                li + li {

                }

            }

        }

        .responsive-nav-dismiss {
            position: absolute;
            top: 0; left: 0;
            width: 100%; height: 100%;
            z-index: 1;
            background-color: transparent;
        }

    }
