
    .social-links {

        > li {
            display: inline-block;
            margin: 0 0 0 -3px;

            a {
                display: block;
                width: 32px; height: 32px;
                text-indent: -9999em;
                color: $els-dark;
                @extend %icon;
                @extend %standard-transition;

                &:before {
                    position: absolute;
                    top: 50%; left: 50%;
                    margin: -8px 0 0 -8px;
                    font-size: 16px;
                }

                &:hover {
                    background-color: $els-dark;
                    color: #fff;
                }

                &:active {
                    background-color: rgba($els-dark, 0.75);
                    color: #fff;
                }

            }

        }

        &--light {

            > li {

                a {
                    color: #fff;

                    &:hover {
                        background-color: #fff;
                        color: $els-dark;
                    }

                    &:active {
                        background-color: rgba(#fff, 0.75);
                        color: $els-dark;
                    }

                }

            }

        }


    }

    .instagram-feed {
        width: 100%;
        margin-bottom: 88px;

        &__inner {
            @include outer-container;

            > li {
                width: 14.28571428571429%;
                float: left;
                overflow: hidden;

                img {
                    display: block;
                    width: 100%;
                    transition: 0.8s all ease;
                }

                a {
                    display: block;
                    width: 100%; height: 100%;
                    transition: 0.8s all ease;

                    &:hover {
                        text-decoration: none !important;
                        background-color: rgba(#fff, 0.25);
                    }

                }

                &:nth-child(8) { display: none; }

                @include media($to-xlarge) {
                    width: 16.66666666666667%;
                    &:nth-child(7) { display: none; }
                }

                @include media($to-medium) {
                    width: 25%;
                    &:nth-child(7) { display: block; }
                    &:nth-child(8) { display: block; }
                }

                @include media($to-small) {
                    width: 50%;
                }

            }

        }

        &__profile {
            position: relative;
            text-align: center;

            a {
                position: absolute;
                top: 0; left: 0;
                width: 100%; height: 100%;
                color: #fff;
                padding: 10px;
                z-index: 10;
            }

            img {
                position: relative;
                z-index: 0;
            }

            &__inner {
                @extend %vertically-centered;
                width: 100%; height: 100%;
                border: 1px solid #fff;
            }

            &__follow {
                display: inline-block;
                font-weight: 700;
                font-size: rem(17);
                line-height: 1.29411764705882;
                margin-bottom: 8px;
            }

            &__handle {
                font-weight: 900;
                font-size: rem(15);
            }

        }

        @include media($to-xlarge) {
            margin-bottom: 0;
        }

    }
