
	// variables
	@import "../front/_variables";

	// bourbon
	@import "../front/lib/bourbon/bourbon";

	// neat
    $gutter: 2.5em !global;
    $max-width: em(1200) !default;
	@import "../front/lib/neat/neat";

    // breakpoints

	$from-xxlarge: new-breakpoint(min-width 1200px);
	$to-xxlarge: new-breakpoint(max-width 1200px);
	$from-xlarge: new-breakpoint(min-width 1000px);
	$to-xlarge: new-breakpoint(max-width 1000px);
	$from-large: new-breakpoint(min-width 880px);
	$to-large: new-breakpoint(max-width 880px);
	$from-medium: new-breakpoint(min-width 760px);
	$to-medium: new-breakpoint(max-width 760px);
	$from-small: new-breakpoint(min-width 540px);
	$to-small: new-breakpoint(max-width 540px);
	$from-xsmall: new-breakpoint(min-width 440px);
	$to-xsmall: new-breakpoint(max-width 440px);

	// bitters
	//@import "../front/lib/base/base";

    // components
	@import "../front/components/_fonts";

	// partials
	//@import "../front/lib/_normalize";

    html, body {
        margin: 0;
        padding: 0;
    }

    body {
        font-size: 17px;
        line-height: 24px;
        position: relative;
    }

    .poster {
        width: 900px;
        height: 1255px;
        background-repeat: no-repeat;
        background-position: left top;
        background-size: 100% 100%;
        overflow: hidden;
        position: relative;

        &--member {
            background-image: url(../images/poster-member-bg.jpg);

            &__title {
                position: absolute;
                top: 126px; left: 192px;
                font-size: 90px;
                font-weight: 700;
                color: #0056A7;
                text-transform: uppercase;
            }

            &__name {
                position: absolute;
                top: 964px; left: 0;
                width: 100%;
                font-size: 86px;
                font-weight: 700;
                color: #E3173D;
                font-family: 'ITCFranklinGothicLT';
                text-align: center;
            }

            &__caption {
                position: absolute;
                top: 175px; left: 30px;
                font-family: 'ITCFranklinGothicLTBook';
                font-size: 9px;
                width: 260px;
                color: $brand-white;
            }

            &__photo {
                position: absolute;
                top: 226px; left: 73px;
                width: 753px; height: 646px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
            }

        }

        &--friend {
            background-image: url(../images/poster-friend-bg.jpg);
            color: #000;

            &__title {
                position: absolute;
                top: 182px;
                left: 0;
                width: 100%;
                font-size: 103px;
                font-family: 'ITCFranklinGothicLTHeavy';
                text-transform: uppercase;
                text-align: center;
                color: $brand-white;
                line-height: 71px;
                transform-origin: 50%;
                transform: scaleX(.85);
                -webkit-transform-origin: 50%;
                -webkit-transform: scaleX(.85);
                letter-spacing: 0px;

                span{
                   font-size: 56px; 
                }
            }

            &__name {
                position: absolute;
                top: 388px; left: 360px;
                width: 568px;
                max-height: 110px;
                font-family: 'ITCFranklinGothicLTHeavy';
                color: #FCB627;
                font-size: 58px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                line-height: 1;
                transform-origin: 0;
                transform: scaleX(.81);
                -webkit-transform-origin: 0;
                -webkit-transform: scaleX(.81);

                &--long {
                    font-size: 40px;
                    top: 395px;
                }

            }

            &__under-name {
                position: absolute;
                top: 454px; left: 360px;
                width: 568px;
                font-family: 'ITCFranklinGothicLTHeavy';
                color: #FFFFFF;
                font-size: 58px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                line-height: 1;
                transform-origin: 0;
                transform: scaleX(.8);
                -webkit-transform-origin: 0;
                -webkit-transform: scaleX(.8);

            }

            &__under-name-small {
                position: absolute;
                top: 583px; left: 360px;
                width: 460px;
                font-family: 'HelveticaNeueLightCond';
                color: #FCB627;
                font-size: 26px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                line-height: 1;
                text-transform: uppercase;

            }

            &__caption {
                position: absolute;
                top: 645px; left: 75px;
                font-family: 'ITCFranklinGothicLTBook';
                font-size: 10px;
                width: 260px;
                height: 20px;
                color: $brand-white;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }

            &__photo {
                position: absolute;
                top: 400px; left: 69px;
                width: 272px; height: 247px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
            }

        }

        &--share {
            width: 1200px;
            height: 630px;

            &.poster--member {
                background-image: url(../images/poster-member-share-bg.jpg);

                .poster--member__title {
                    top: 78px;
                    left: 417px;
                    font-size: 120px;
                    line-height: 114px;
                }

                .poster--member__photo {
                    top: 60px;
                    left: 60px;
                    width: 303px;
                    height: 253px;
                }

                .poster--member__name {
                    top: 407px;
                    font-size: 91px;
                }

                .poster--member__message {
                    top: 487px;
                    font-size: 44px;
                    line-height: 52px;
                }

            }

            &.poster--friend {
                background-image: url(../images/poster-friend-share-bg.jpg);

                .poster--friend__title {
                    width: auto;
                    top: 97px;
                    left: 402px;
                    font-size: 100px;
                    line-height: 88px;
                    text-align: left;
                }

                .poster--friend__name {
                    top: 393px;
                    left: 95px;
                    font-size: 93px;
                    width: 800px;
                }

                .poster--friend__message {
                    top: 524px;
                    font-size: 48px;
                    width: 540px;
                    left: 228px;
                }

            }

            &__friend--wrap{
                //* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6b2c91+16,102965+100 */
                background: #6b2c91; /* Old browsers */
                background: -moz-radial-gradient(center, ellipse cover,  #6b2c91 16%, #102965 100%); /* FF3.6-15 */
                background: -webkit-radial-gradient(center, ellipse cover,  #6b2c91 16%,#102965 100%); /* Chrome10-25,Safari5.1-6 */
                background: radial-gradient(ellipse at center,  #6b2c91 16%,#102965 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b2c91', endColorstr='#102965',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

                width: 952px;
                height: 952px;
                position: relative;

                .poster--friend{
                    transform: scale(0.6622222222222222, 0.6613545816733068);
                    -webkit-transform: scale(0.6622222222222222, 0.6613545816733068);
                    position: absolute;
                    top: -155px;
                    left: 25px;
                    -webkit-box-shadow: 0px 3px 86px 12px rgba(0,0,0,0.35);
                    -moz-box-shadow: 0px 3px 86px 12px rgba(0,0,0,0.35);
                    box-shadow: 0px 3px 86px 12px rgba(0,0,0,0.35);
                }
            }


        }

    }
