@font-face {
    font-family: 'Lost Bulldog';
    src: url('lostbulldog.eot?#iefix') format('embedded-opentype'),
         url('lostbulldog.woff') format('woff'),
         url('lostbulldog.ttf') format('truetype'),
         url('lostbulldog.svg#lostbulldog') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: "Lost Bulldog";
    font-size: 50px
}


.icon-facebook:before { content: '\e000'; }
.icon-instagram:before { content: '\e001'; }
.icon-twitter:before { content: '\e002'; }
.icon-download:before { content: '\e003'; }
.icon-print:before { content: '\e004'; }
.icon-share:before { content: '\e005'; }
.icon-arrow-right:before { content: '\e006'; }
.icon-email:before { content: '\e007'; }
.icon-arrow-down:before { content: '\e008'; }





