
    // colors

    $brand-dark-blue: #0c2340;
    $brand-purple: #87189d;
    $brand-white: #ffffff;
    $brand-light-gold: #ffb81c;
    $brand-dark-gold: #e0960b;

    $dogs-blue: #0039a6;
    $dogs-light-blue: #f2f5fb;
    $dogs-red: #c60c30;
    $dogs-dark-grey: #323232;
    $dogs-light-grey: #cdcdcd;

    // transitions

    %standard-transition {
        transition: 0.3s all ease;
    }

    %vertically-centered {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    %flex-grid {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-flow: row wrap;
    }

    %stadium-bg {
        background: url(images/stadium-bg.jpg) no-repeat center top #fbfbfc;
        background-size: 100% auto;
    }

    %video-embed {
        width: 100%;
        padding-top: 56.25%;
        position: relative;

        iframe {
            position: absolute;
            top: 0; left: 0;
            width: 100%; height: 100%;
            margin: 0; padding: 0;
            border: none;
        }
    }
