
    .page-content {
        width: 100%;
        background-color: $davidson-light-grey;
        color: $davidson-dark-grey;
        text-align: center;
        text-transform: uppercase;
        padding: 47px 80px;

        h1, h2 {
            font-size: rem(16);
            font-weight: 700;
            line-height: 1.52024446142093;
            margin: 0;
        }

        p, ul, ol, blockquote {
            font-size: rem(16);
            line-height: 1.52024446142093;
            margin: 0 0 1.52024446142093em 0;
        }

        h1, h2, p, ul, ol, blockquote {
            &:last-child { margin-bottom: 0; }
        }

    }

    .page-banner {
        width: 100%;

        img {
            display: block;
            width: 100%;
        }

    }

    .content-grid {
        overflow: hidden;

        &__cell {
            float: left;
            position: relative;
            overflow: hidden;

            &--hide-mobile {
                @include media($to-medium) { display: none; }
            }

            &__inner {
                position: absolute;
                top: 0; left: 0;
                width: 100%; height: 100%;
                z-index: 10;

                img {
                    display: block;
                    max-width: 100%;
                }

            }

            &.cell-width-1 {

                @include media($from-medium) {
                    width: 25%;
                    .tile-width-1 { width: 100%; }
                    .tile-width-2 { width: 100%; }
                    .tile-width-3 { width: 100%; }
                    .tile-width-4 { width: 100%; }
                    .tile-height-1 { padding-top: 100%; }
                    .tile-height-2 { padding-top: 200%; }
                    .tile-height-3 { padding-top: 200%; }
                    .tile-height-4 { padding-top: 200%; }
                }

                @include media($to-medium) {
                    width: 50%;
                    .tile-width-1 { width: 100%; }
                    .tile-width-2 { width: 100%; }
                    .tile-width-3 { width: 100%; }
                    .tile-width-4 { width: 100%; }
                    .tile-height-1 { padding-top: 100%; }
                    .tile-height-2 { padding-top: 200%; }
                    .tile-height-3 { padding-top: 200%; }
                    .tile-height-4 { padding-top: 200%; }
                }

            }

            &.cell-width-2 {

                @include media($from-medium) {
                    width: 50%;
                    .tile-width-1 { width: 50%; }
                    .tile-width-2 { width: 100%; }
                    .tile-width-3 { width: 100%; }
                    .tile-width-4 { width: 100%; }
                    .tile-height-1 { padding-top: 50%; }
                    .tile-height-2 { padding-top: 100%; }
                    .tile-height-3 { padding-top: 100%; }
                    .tile-height-4 { padding-top: 100%; }
                }

                @include media($to-medium) {
                    width: 100%;
                    .tile-width-1 { width: 50%; }
                    .tile-width-2 { width: 100%; }
                    .tile-width-3 { width: 100%; }
                    .tile-width-4 { width: 100%; }
                    .tile-height-1 { padding-top: 50%; }
                    .tile-height-2 { padding-top: 100%; }
                    .tile-height-3 { padding-top: 100%; }
                    .tile-height-4 { padding-top: 100%; }
                }

            }

            &.cell-width-3 {

                @include media($from-medium) {
                    width: 75%;
                    .tile-width-1 { width: 33.3333%; }
                    .tile-width-2 { width: 66.6666%; }
                    .tile-width-3 { width: 100%; }
                    .tile-width-4 { width: 100%; }
                    .tile-height-1 { padding-top: 33.3333%; }
                    .tile-height-2 { padding-top: 66.6666%; }
                    .tile-height-3 { padding-top: 100%; }
                    .tile-height-4 { padding-top: 100%; }
                }

                @include media($to-medium) {
                    width: 100%;
                    .tile-width-1 { width: 33.3333%; }
                    .tile-width-2 { width: 66.6666%; }
                    .tile-width-3 { width: 100%; }
                    .tile-width-4 { width: 100%; }
                    .tile-height-1 { padding-top: 33.3333%; }
                    .tile-height-2 { padding-top: 66.6666%; }
                    .tile-height-3 { padding-top: 50%; }
                    .tile-height-4 { padding-top: 50%; }
                }

            }

            &.cell-width-4 {

                @include media($from-medium) {
                    width: 100%;
                    .tile-width-1 { width: 25%; }
                    .tile-width-2 { width: 50%; }
                    .tile-width-3 { width: 75%; }
                    .tile-width-4 { width: 100%; }
                    .tile-height-1 { padding-top: 25%; }
                    .tile-height-2 { padding-top: 50%; }
                    .tile-height-3 { padding-top: 75%; }
                    .tile-height-4 { padding-top: 100%; }
                }

                @include media($to-medium) {
                    width: 100%;
                    .tile-width-1 { width: 50%; }
                    .tile-width-2 { width: 100%; }
                    .tile-width-3 { width: 100%; }
                    .tile-width-4 { width: 100%; }
                    .tile-height-1 { padding-top: 50%; }
                    .tile-height-2 { padding-top: 100%; }
                    .tile-height-3 { padding-top: 100%; }
                    .tile-height-4 { padding-top: 100%; }
                }

            }

            &.cell-height-1 {
                @include media($from-medium) { padding-top: 25%; }
                @include media($to-medium) { padding-top: 50%; }
            }

            &.cell-height-2 {
                @include media($from-medium) { padding-top: 50%; }
                @include media($to-medium) { padding-top: 100%; }
            }

            &.cell-height-3 {
                @include media($from-medium) { padding-top: 75%; }
                @include media($to-medium) { padding-top: 66.66666%; }
            }

            &.cell-height-4 {
                @include media($from-medium) { padding-top: 100%; }
                @include media($to-medium) { padding-top: 100%; }
            }

            // Mobile sizes

            &.cell-width-mobile-1 {

                @include media($to-medium) {
                    width: 100%;
                    .tile-width-1 { width: 100%; }
                    .tile-width-2 { width: 100%; }
                    .tile-width-3 { width: 100%; }
                    .tile-width-4 { width: 100%; }
                    .tile-height-1 { padding-top: 100%; }
                    .tile-height-2 { padding-top: 100%; }
                    .tile-height-3 { padding-top: 100%; }
                    .tile-height-4 { padding-top: 100%; }
                }

            }

            &.cell-width-mobile-2 {

                @include media($to-medium) {
                    width: 100%;
                    .tile-width-1 { width: 50%; }
                    .tile-width-2 { width: 100%; }
                    .tile-width-3 { width: 100%; }
                    .tile-width-4 { width: 100%; }
                    .tile-height-1 { padding-top: 50%; }
                    .tile-height-2 { padding-top: 100%; }
                    .tile-height-3 { padding-top: 100%; }
                    .tile-height-4 { padding-top: 100%; }
                }

            }

            &.cell-height-mobile-1 {

                @include media($to-medium) {
                    padding-top: 50%;
                }

            }

            &.cell-height-mobile-2 {

                @include media($to-medium) {
                    padding-top: 100%;
                }

            }

        }

        &__tile {
            float: left;
            position: relative;

            &__inner {
                position: absolute;
                top: 0; left: 0;
                width: 100%; height: 100%;
                z-index: 10;

                img {
                    display: block;
                    max-width: 100%;
                }

            }

        }

    }
