
    $fallback-sans-serif: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    $fallback-serif: Georgia, Times, Times New Roman, serif;

    %roboto {
        font-family: 'Roboto Condensed', $fallback-sans-serif;
        font-weight: 400;
    }

    %arvo {
        font-family: 'Arvo', $fallback-serif;
        font-weight: 700;
    }

    body {
        //@extend %roboto;
    }



	@font-face {
	  font-family: 'icomoon';
	  src:  url('../fonts/icomoon.eot?8r8lj6');
	  src:  url('../fonts/icomoon.eot?8r8lj6#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?8r8lj6') format('truetype'),
		url('../fonts/icomoon.woff?8r8lj6') format('woff'),
		url('../fonts/icomoon.svg?8r8lj6#icomoon') format('svg');
	  font-weight: normal;
	  font-style: normal;
	}

	[class^="icon-"], [class*=" icon-"] {
	  /* use !important to prevent issues with browser extensions that change fonts */
	  font-family: 'icomoon' !important;
	  speak: none;
	  font-style: normal;
	  font-weight: normal;
	  font-variant: normal;
	  text-transform: none;
	  line-height: 1;

	  /* Better Font Rendering =========== */
	  -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
	}

	.icon-download_icon:before {
	  content: "\e900";
	}


