
    * { box-sizing: border-box; }

    html, body {
        width: 100%; height: 100%;
    }

    body {
        font-size: 16px;
        line-height: 1.33333333333333;

        &.no-overflow {
            overflow: hidden;
        }

    }

    a:link, a:visited {
        text-decoration: none;
        &:hover { text-decoration: underline; }
    }

    .body-wrap {
    	width: 100%;
    	overflow-x: hidden;
        padding: 0;
    }

    // responsive hide classes
    @include media($to-large) { .hide-large { display: none; } }
    @include media($to-medium) { .hide-medium { display: none; } }
    @include media($to-small) { .hide-small { display: none; } }
