
    .body-wrap {
        width: 100%;
        position: relative;
    }

    .container {
        @include outer-container;
        position: relative;
        z-index: 20;
        padding: 0 15px;

        @include media($to-xxxlarge) {
            max-width: 910px;
        }

        @include media($to-xlarge) {
            max-width: 700px;
        }

        @include media($to-medium) {
            max-width: 450px;
        }

    }

    .header, .footer, .main {
        position: relative;
    }

    .main {
        z-index: 20;
		margin-top: -73px;
		padding-top: 73px;
		background: url(../images/page-bg-top-desktop.jpg) #000000 no-repeat center top;
    }

    .hexarrow{
        background-color: $brand-white;
        position: relative;
        padding-top: 15px;

        background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50px, rgba(235,235,235,1) 200px);

        /* @include media($to-medium) {
            background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50px, rgba(235,235,235,1) 20%);
        } */

        &:before{
            content: '';
            background-image: url(../images/arrow_black_fill.svg);
            background-position: center bottom;
            background-repeat: no-repeat;
            width: 100%;
            height: 132px;
            position: absolute;
            left: 0;
            top: -69px;

            @include media($to-xlarge) {
                top: -70px;
            }
        }

        &:after{
            content: '';
            background-image: url(../images/arrow_white_fill.svg);
            background-position: center bottom;
            background-repeat: no-repeat;
            width: 100%;
            height: 132px;
            position: absolute;
            bottom: -125px;
            left: 0;

            @include media($to-xlarge) {
                bottom: -30px;
            }
        }

        @include media($to-xxxlarge) {
            font-size: rem(44);
            padding: 22px 0px 28px 0px;
        }

        @include media($to-xlarge) {
            font-size: rem(38);
            //padding: 22px 40px 28px 40px;

        }

        @include media($to-large) {

        }

        @include media($to-medium) {

        }

        @include media($to-small) {
            font-size: rem(32);
            //padding: 0px 40px 28px 40px;
        }
    }

    .route-posterCreate{
        .hexarrow{
            &:after{
                display: none;
            }
        }

        .hero__video{
            margin-bottom: 0;
        }
    }

    .header {
        z-index: 30;
        //margin-bottom: 3000px;
        padding: 32px 0 0 0;

        &__logo {
            position: absolute;

            top: -26px;
            left: -8px;
            width: 125px;
            background-image: url(../images/header__logo.png);
            background-position:  center center/100%;
            background-repeat: no-repeat;
            background-size: 80px 80px;
            text-align: left;
			z-index: 40;

            @include media($from-medium) {
                top: -34px;
                left: -70px;
                background-size: 125px 125px;
                transform: skew(15deg);
            }

            & a {
                display: block;
                width: 100%;
                padding-top: 102.34375%;
                text-indent: -9999em;
                font-size: 0;
				z-index: 40;
            }
        }

        &__links {

            text-align: right;
            font-size: 0;
            margin: 0 auto -20px auto;

            @include media($from-medium) {
                transform: skew(-15deg);
                width: 615px;
                background: linear-gradient(to right,$brand-dark-blue 0,$brand-purple 50%,$brand-dark-blue 100%);
                text-align: center;
            }

            & > ul{

                transform: skew(15deg);

                & > li {

                    display: inline-block;
                    position: relative;
                    padding-bottom: 22px;
                    padding-top: 22px;

                    .header__links__link {
                        color: $brand-white;
                        font-family: 'GothamBold';
                        text-transform: uppercase;
                        position: relative;
                        padding: 0 30px;
                        font-size: rem(16);
                        line-height: 1;
                        transition: color 0.3s ease;

                        &:hover {
                            color: $brand-light-gold;
                            text-decoration: none;
                        }

                        @include media($to-xxxlarge) {
                            padding: 0 12px;
                        }

                    }

                    + li .header__links__link:before {
                        content: '\2044';
                        position: absolute;
                        top: 0; left: -3px;
                        color: rgba($brand-white, 0.3);
                        font-size: 20px;

                        @include media($to-medium) {
                            display: none;
                        }

                    }

                    &:last-child {
                        margin-right: 0;
                    }

                }
            }

            &__share-link {
                padding-bottom: 20px;

                &:hover {

                    .header__links__share {
                        visibility: visible;
                        opacity: 1;
                    }

                    .social-buttons{
						position: relative;
						z-index: 150;
                        a{
                             

                            &:hover{

                                

                            }
                        }
                    }

                }

            }

            &__share {
                position: absolute;
                top: 58px; left: 0;
                background-color: #fff;
                padding: 10px;
                border-radius: 6px;
                white-space: nowrap;
                box-shadow: 1px 1px 5px rgba(#000, 0.25);
                visibility: hidden;
                opacity: 0;
                transition: all 0.5s ease;

                .arrow {
                    position: absolute;
                    top: -13px; left: 50%;
                    width: 30px; height: 13px;
                    margin-left: -15px;
                    overflow: hidden;

                    &:before {
                        content: '';
                        position: absolute;
                        top: 5px; left: 50%;
                        width: 16px; height: 16px;
                        margin-left: -8px;
                        background-color: #fff;
                        box-shadow: 1px 1px 5px rgba(#000, 0.25);
                        transform: rotate(45deg);
                    }

                }

                .social-buttons {
                    margin-bottom: 0;
                }

            }

            @include media($to-medium) {
                margin: 20px 0 20px 0;
                ul { display: none; }
            }

        }

        &__nav-toggle {
            //float: right;
            font-size: rem(16);
            color: $brand-white;
            border: none;
            background: none;

            span{
                background-color: $brand-dark-gold;
                display: block;
                width: 20px;
                height: 2px;
                margin-top: 4px;
            }

            @include media($from-medium) {
                display: none;
            }

            &:focus, &:active {
                outline: 0;
            }

        }

        @include media($to-medium) {
            padding-top: 10px;
        }

    }

	.scroll{
		text-align: center;

		a{
			width:42px;
			height:42px;
			display:inline-block;
			margin-top:0px;
			
			background:url(../images/arrow_button.svg) no-repeat 0 0;
		}
	}
			

    .hero {
        width: 100%;
        text-align: center;
        margin: 65px 0 0 0;

        .poster-form {
        display: flex;
        -ms-flex: 1 1 auto;
        flex-flow: row wrap;
        margin: 0 -15px;
        padding-top: 30px;

        &__col {
            display: flex;
            -ms-flex: 1 1 auto;
            padding: 0 15px;
            margin-bottom: 50px;
            flex-wrap: wrap;

            @include media($to-xxxlarge) {
                margin-bottom: 0px;
            }

            &>div{

                margin: 0 15px;
                flex-grow: 0;
                /* flex-shrink: 0; */

                @include media($to-xxxlarge) {
                    flex-basis: 100%;
                }

            }

            &__image {
                max-width: 470px;
                width: 100%;
            }


            &-half{
                flex-basis: 46.9%;

            }

            &-top-border{
                position: relative;

                &:after{

                    content: '';
                    height: 1px;
                    width: 100%;
                    background-color: rgba(255,255,255,.3);
                    position: absolute;
                    top: 0;
                    right: 0;

                    @include media($to-xxxlarge) {
                        display: none;
                    }
                }

                @include media($to-xxxlarge) {
                    padding: 15px 0;
                }

            }


            .button--gold{
                margin-left: 10px;
            }



            &__bottom-border{
                border-bottom: rgba(255,255,255,.3) solid 1px;
                padding-bottom: 40px;
                width: 100%;
            }



            &__title{
                font-family: 'GovernmentAgentBB';
                color: $brand-white;
                font-size:  rem(38);
                text-transform: uppercase;
                font-weight: 100;
                margin: 10px 0;
                text-align: left;
                font-size: rem(48);
                line-height: 1em;

                @include media($to-xxxlarge) {
                    text-align: center;
                }


                span{
                   color: $brand-light-gold;
                }

                &-gold{
                    font-family: 'GothamMedium';
                    font-size: rem(18);
                    text-align: left;
                    color: $brand-white;


                    @include media($to-xxxlarge) {
                        text-align: center;
                    }
                }
            }

            &__sub-title{
                font-family: 'Gotham';
                color: $brand-white;
                font-size:  rem(16);
                font-weight: 100;
                margin-top: 15px;

                a{
                    font-family: 'GothamBold';
                    color: $brand-light-gold;
                    font-weight: 100;
                    text-decoration: none;

                }
            }

            .inline{
                display: flex;
                -ms-flex: 1 1 auto;
                flex-wrap: wrap;

                @include media($to-xxxlarge) {
                    text-align: center;
                    justify-content: center;
                }

                div{
                    margin: 0 15px;
                    flex-grow: 0;

                    @include media($to-xxxlarge) {
                        flex-basis: 100%;
                    }
                }

                &__text {
                    flex-basis: 44%;
                    padding: 5px 0 0 0px;

                    p {
                        font-size: rem(16);
                        line-height: 1.47;
                        margin: 0;
                        min-height: 72px;
                        color: $brand-white;
                        font-family: 'GothamBook';
                        margin-bottom: 15px;
                    }

                    @include media($to-small) {
                        padding-left: 0;
                    }

                }

                .button {
                    width: 216px;
                    margin-top: 13px;
                }
            }

            @include media($to-xlarge) {
                width: 100%;
                margin-bottom: 30px;

                .button {
                    width: 100%;
                }

            }

            @include media($to-small) {
                flex-flow: row wrap;
            }

        }

        @include media($to-xlarge) {
            padding: 43px 60px 0 60px;
        }

        @include media($to-medium) {
            padding: 43px 0 0 0;
        }

    }






























        &__title {
            font-size: rem(83);
            font-weight: 100;
            text-transform: uppercase;
            margin: 0;
            line-height: 1;
            color: $brand-white;
            font-family: 'GovernmentAgentBB';

            body.route-found &,
            body.route-posterMemberShare & {
                color: $dogs-blue;
            }

            &--two-line {
                font-size: rem(89);
                line-height: 0.8314;
                margin-top: 92px;
                margin-bottom: -4px;

                @include media($to-xlarge) {
                    margin-top: 30px;
                }

            }

            &--sub{
                font-family: 'GothamMedium';
                font-size: rem(22);
                color: $brand-white;
                margin-bottom: 44px;
            }

            @include media($to-xlarge) {
                font-size: rem(80);
            }

            @include media($to-medium) {
                font-size: rem(60);

                br {
                    display: none;
                }

            }

            @include media($to-small) {
                font-size: rem(50);
                line-height: 0.85;
            }

        }

        &__video {
            width: 100%;
            max-width: 970px;
            /* padding: 0 100px; */
            margin: 33px auto 33px auto;

            &__inner {
                width: 100%;
                padding-top: 56.25%;
                position: relative;
            }

            &__poster {
                position: absolute;
                top: 0; left: 0;
                width: 100%; height: 100%;
                overflow: hidden;
                background: url(../images/video-poster.jpg) no-repeat center center;
                background-size: cover;

                img {
                    display: block;
                    width: 100%;
                }

            }

            &__player {
                position: absolute;
                top: 0; left: 0;
                width: 100%; height: 100%;
                overflow: hidden;
                z-index: 100;

                &--hidden {
                    visibility: hidden;
                }

                // video.js overrides
                .video-js {
                    position: absolute;
                    top: 0; left: 0;
                    width: 100%; height: 100%;

                    .vjs-big-play-button {
                        position: absolute;
                        top: 50%; left: 50%;
                        width: 110px; height: 110px;
                        margin: -55px 0 0 -55px;
                        border: none;
                        border-radius: 55px;
                        background: rgba($brand-light-gold, 0.7);
                        transition: all 0.3s ease;

                        .vjs-control-text {
                            display: none;
                        }

                        &:before {
                            position: absolute;
                            width: 40px;
                            height: 40px;
                            font-size: 60px;
                            top: 50%;
                            left: 50%;
                            margin: -23px 0 0 -27px;
                        }

                    }

                    &:hover .vjs-big-play-button, .vjs-big-play-button:focus {
                        background-color: $brand-light-gold;
                    }

                }

            }

            &__home {
                position: absolute;
                top: 0; left: 0;
                width: 100%; height: 100%;
                display: flex;
                -ms-flex: 1 1 auto;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 0 15px;

                .uil-rolling-css {
                    position: absolute;
                    top: 50%; left: 50%;
                    margin: -100px 0 0 -100px;
                    transition: all 0.5s ease;
                    opacity: 0;
                    visibility: hidden;
                }

                &--loading {

                    .uil-rolling-css {
                        opacity: 1;
                        visibility: visible;
                    }

                    .hero__video__home__inner {
                        opacity: 0;
                    }

                }

                &--loaded {

                    .hero__video__home__inner {
                        opacity: 0;
                    }

                }

                &__inner {
                    transition: all 0.35s ease;
                }

                &__title {
                    font-size: rem(54);
                    font-weight: 100;
                    color: $brand-light-gold;
                    text-transform: uppercase;
                    line-height: 0.8;
                    margin-bottom: 30px;
                    font-family: 'GovernmentAgentBB';

                    @include media($to-xlarge) {
                        font-size: rem(32);
                    }

                }

                &__form {
                    width: 100%;
                    max-width: 314px;
                    display: inline-block;

                    &__field .form__input {
                        background-color: #fff;
                    }

                }

                &-wrap {

                    @include media($to-medium) {
                        padding: 0;
                    }

                }

                @include media($to-medium) {
                    position: relative;
                    padding: 30px 20px;
                }

            }

            &--home {
                margin-bottom: 50px;
            }

            @include media($to-xxxlarge) {
                padding: 0 50px;
            }

            @include media($to-xlarge) {
                padding: 0;
            }

        }

        &__image {
            width: 100%;
            padding: 0 100px;
            margin: 36px 0 56px 0;

            img {
                display: block;
                width: 100%;
            }

            @include media($to-xxxlarge) {
                padding: 0 50px;
            }

            @include media($to-xlarge) {
                padding: 0;
            }

        }

        &__member {
            text-transform: uppercase;

            &__number, &__year {
                display: inline-block;
                width: 100%;
                max-width: 784px;
                font-size: rem(22);
                position: relative;

                &:after {
                    content: '';
                    position: absolute;
                    top: 50%; left: 0;
                    width: 100%; height: 1px;
                    background-color: $dogs-light-grey;
                    z-index: 10;
                }

                span {
                    position: relative;
                    display: inline-block;
                    background-color: #fff;
                    z-index: 20;
                }

                @include media($to-small) {
                    font-size: rem(18);
                }

            }

            &__number {

                span {
                    background-color: #f6f6f6;
                    border-left: 24px solid #fff;
                    border-right: 24px solid #fff;
                    padding: 8px 24px;
                }

            }

            &__year {

                span {
                    padding: 0 24px;
                }

            }

            &__name {
                font-size: rem(88);
                font-weight: 700;
                line-height: 1;
                margin: 0.136em 0 0.284em;

                @include media($to-medium) {
                    font-size: rem(60);
                }

                @include media($to-small) {
                    font-size: rem(50);
                }

            }

        }

        &__member-found {

            &__title {
                font-size: rem(88);
                font-weight: 700;
                line-height: 1;
                text-transform: uppercase;
                margin: 0 0 19px 0;
                color: $dogs-red;

                @include media($to-medium) {
                    font-size: rem(60);
                }

                @include media($to-small) {
                    font-size: rem(50);
                }

            }

            &__text {
                font-size: rem(23);
            }

            &--share {
                //min-height: 600px;

                .hero__member-found__text {
                    font-size: rem(40);
                    line-height: 1;
                    margin-top: 30px;
                    margin-bottom: 80px;
                    color: $dogs-blue;
                }

            }

        }

        &__create-poster {
            margin-top: -3px;

            &__title {
                font-size: rem(72);
                font-weight: 700;
                line-height: 1;
                text-transform: uppercase;
                margin: 0 0 23px 0;

                @include media($to-medium) {
                    font-size: rem(60);
                }

                @include media($to-small) {
                    font-size: rem(50);
                }

            }

            &__text {
                font-size: rem(22);
                padding: 0 110px;

                @include media($to-medium) {
                    padding: 0 15px
                }
            }

        }

        &__home {

            &__tagline {
                font-size: rem(72);
                font-weight: 700;
                line-height: 1;
                margin: 0;

                @include media($to-xlarge) {
                    font-size: rem(40);
                }

                @include media($to-medium) {
                    font-size: rem(32);
                }

            }

        }

        &__friend-share {
            text-transform: uppercase;
            margin-bottom: 61px;

            &__text {
                display: inline-block;
                width: 100%;
                max-width: 784px;
                font-size: rem(35);
                position: relative;
                color: #6A6B70;

                &:after {
                    content: '';
                    position: absolute;
                    top: 50%; left: 0;
                    width: 100%; height: 1px;
                    background-color: $dogs-light-grey;
                    z-index: 10;
                }

                span {
                    position: relative;
                    display: inline-block;
                    padding: 0 24px;
                    background-color: #fff;
                    z-index: 20;
                }

            }

            &__name {
                font-size: rem(88);
                font-weight: 700;
                line-height: 1;
                margin: 12px 0 25px;
            }

        }

        @include media($to-medium) {
            margin-top: 15px;
        }

    }

    .product-offerings {
        width: 100%;
        display: flex;
        -ms-flex: 1 1 auto;
        flex-flow: row wrap;
        text-align: center;
        justify-content: center;

        @include media($to-xlarge) {

        }

        &__current {
            font-size: rem(48);
            line-height: 1em;
            text-transform: uppercase;
            color: $brand-purple;
            padding: 18px 10px 19px 10px;
            font-family: 'GovernmentAgentBB';
            width: 100%;
            margin-top: 90px;


            @include media($to-xxxlarge) {
                font-size: rem(44);
            }

            @include media($to-xlarge) {
                font-size: rem(38);
                padding: 22px 40px 28px 40px;
                margin-top: 60px;
            }

            @include media($to-large) {

            }

            @include media($to-medium) {

            }

            @include media($to-small) {
                font-size: rem(32);
                padding: 0px 0px 28px 0px;
            }

        }

        &__offering {
            display: flex;
            -ms-flex: 1 1 auto;
            flex-direction: column;
            align-items: center;
            width: 31%;
            position: relative;
            padding: 0 0 80px 0;
            margin: 0 1.16%;
            background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 85%, rgba(255,255,255,0) 100%);

            @include media($to-medium) {
                background: $brand-white;
                margin-top: 15px;
            }

            &__title {
                font-size: rem(39);
                text-transform: uppercase;
                color: $brand-purple;
                padding: 18px 15px;
                margin-top: 20px;
                font-family: 'GovernmentAgentBB';
                line-height:1em;
                width: 100%;
				min-height: 114px;
                
                strong {
                    font-weight: 700;
                }

                @include media($to-xxxlarge) {
                    font-size: rem(32);
                }

                @include media($to-xlarge) {
                    font-size: rem(24);
                }

                @include media($to-large) {

                }

                @include media($to-medium) {
                    font-size: rem(32);
                }

                @include media($to-small) {

                }

            }

            &__option {
                background-color: $brand-light-gold;
                color: $brand-purple;
                font-size: rem(18);
                font-family: 'GovernmentAgentBB';
                padding: 5px 22px;
                transform: skew(-15deg);
				font-style: italic;
                width: 162px;
                margin: -20px auto 0 auto;


                span{
                   transform: skew(15deg);
                   display: block;
                }

            }


            &__offer {

                &__name, &__desc, &__action, &__form, &__year, &__price, &__duration {
                    padding: 0 30px;
                    width: 100%;
                }

                &__name {
                    font-size: rem(21);
                    text-transform: uppercase;
                    color: $dogs-blue;
                    margin-bottom: 7px;

                    @include media($to-small) {
                        font-size: rem(18);
                    }

                }

                &__desc, &__action {
                    font-size: rem(18);
                    line-height: 1.3888;

                    @include media($to-small) {
                        font-size: rem(16);
                    }

                }

                &__desc {
                    color: $dogs-blue;
                    margin-bottom: 18px;
                }

                &__action {
                    color: #000000;
                    font-family: 'GothamBold';
                    font-size: rem(16);
                }

                &__form {
                    position: absolute;
                    bottom: 0; left: 0;
                    width: 100%;
                    padding: 0 15px 46px;
                }

                &__year {
                    font-size: 16px;
                    font-family: 'GothamLight';
                    margin-top: 24px;
                }

                &__price {
                    font-size: 35px;
                    font-family: 'GothamBold';
                    color: $brand-purple;
                }

                &__duration {
                    font-size: 12px;
                    font-family: 'Gotham';
                    text-transform: uppercase;
                    margin-bottom: 40px;
                    flex-grow: 1;
                }

            }

            &__button {
                position: absolute;
                bottom: 0; left: 0;
                width: 100%;
                padding: 0 15px 46px;
            }

            @include media($to-medium) {
                width: 100%;
                margin-bottom: 15px;
            }

        }

        &__bottom {
            width: 100%;
            background-color: $dogs-light-blue;
            border: 1px solid #fff;
            font-size: rem(19);
            line-height: 1.1428;
            padding: 22px 130px 28px 130px;

            a {
                font-weight: 700;
                color: $dogs-red;
            }

            @include media($to-xlarge) {
                font-size: rem(18);
                padding: 22px 30px 28px 30px;
            }

        }

    }

    .member-poster-callout {
        display: flex;
        -ms-flex: 1 1 auto;
        margin: 84px -15px 80px -15px;

        &__image, &__text {
            width: 50%;
            padding: 0 15px;

            @include media($to-medium) {
                width: 100%;
            }

        }

        &__image {

            img {
                display: block;
                width: 100%;
            }

        }

        &__text {
            padding-top: 89px;

            p {
                font-size: rem(20);
                line-height: 1.65;
                margin: 0 0 1.65em 0;
            }

            .button {
                width: 220px;
            }

            @include media($to-xxxlarge) {
                padding-top: 10px;
            }

        }

        .create-poster__form {
            padding: 0;
            text-align: left;
        }

        @include media($to-medium) {
            flex-flow: row wrap;
        }

    }

    .content-columns {
        display: flex;
        -ms-flex: 1 1 auto;
        flex-flow: row wrap;
        margin: 0 -15px;
        margin-top: 56px;

        &__column {
            width: 33.3333%;
            padding: 0 15px;

            h3 {
                font-size: rem(22);
                font-weight: 700;
                text-transform: uppercase;
                margin: 0 0 13px 0;
                color: $dogs-red;
            }

            p {
                font-size: rem(17);
                line-height: 1.47;
                margin: 0 0 1.47em 0;
            }

            a {
                color: #000;
                transition: color 0.3s ease;

                &:hover {
                    color: $dogs-red;
                    text-decoration: none;
                }

            }

            @include media($to-medium) {
                width: 100%;
            }

        }

    }

    .callouts {
        display: flex;
        -ms-flex: 1 1 auto;
        flex-flow: row wrap;
        margin: 0 -15px;
        padding-top: 175px;

        &__callout {
            display: flex;
            -ms-flex: 1 1 auto;
            padding: 0 15px;
            margin-bottom: 50px;
            flex-wrap: wrap;

            div{

                margin: 0 15px;
                flex-grow: 0;
                /* flex-shrink: 0; */

                @include media($to-xxxlarge) {
                    flex-basis: 100%;
                }

            }

            &-one-third{
                flex-basis: 31%;
            }

            &-two-third{
                flex-basis: 62%;
            }

            &-half{
                flex-basis: 47.4%;

            }

            &__right-border{
                position: relative;

                &:after{

                    content: '';
                    width: 1px;
                    height: 80%;
                    background-color: rgba(255,255,255,.3);
                    position: absolute;
                    top: 10%;
                    right: 0;

                    @include media($to-xxxlarge) {
                        width: 80%;
                        height: 1px;
                        left: 10%;
                        top: 100%;
                    }
                }

                @include media($to-xxxlarge) {
                    padding: 15px 0;
                }

            }

            &__bottom-border{
                border-bottom: rgba(255,255,255,.3) solid 1px;
                padding-bottom: 40px;
                width: 100%;
            }



            &__title{
                font-family: 'GovernmentAgentBB';
                color: $brand-white;
                font-size:  rem(38);
                text-transform: uppercase;
                font-weight: 100;
                text-align: center;
                margin-top: 10px;
            }

            &__sub-title{
                font-family: 'Gotham';
                color: $brand-white;
                font-size:  rem(16);
                font-weight: 100;
                margin-top: 15px;

                a{
                    font-family: 'GothamBold';
                    color: $brand-light-gold;
                    font-weight: 100;
                    text-decoration: none;

                }
            }

            .inline{
                display: flex;
                -ms-flex: 1 1 auto;
                flex-wrap: wrap;

                @include media($to-xxxlarge) {
                    text-align: center;
                    justify-content: center;
                }

                div{
                    margin: 0 15px;
                    flex-grow: 0;

                    @include media($to-xxxlarge) {
                        flex-basis: 100%;
                    }
                }

                &__image {

                    flex-basis: 44%;
                    margin-bottom: 15px;
                    max-width: 270px;

                    img {
                        display: block;
                        width: 100%;
                    }

                }

                &__text {
                    flex-basis: 44%;
                    padding: 5px 0 0 0px;

                    p {
                        font-size: rem(16);
                        line-height: 1.47;
                        margin: 0;
                        min-height: 72px;
                        color: $brand-white;
                        font-family: 'GothamBook';
                        margin-bottom: 15px;
                    }

                    @include media($to-small) {
                        padding-left: 0;
                    }

                }

                .button {
                    width: 216px;
                    margin-top: 13px;
                }
            }

            @include media($to-xlarge) {
                width: 100%;
                margin-bottom: 30px;

                .button {
                    width: 100%;
                }

            }

            @include media($to-small) {
                flex-flow: row wrap;
            }

        }

        @include media($to-xlarge) {
            padding: 43px 60px 0 60px;
        }

        @include media($to-medium) {
            padding: 43px 0 0 0;
        }

    }

    .create-poster {

        &--friend {
            margin-top: 60px;


        }

        &--member {

        }


        &__created {
            overflow: hidden;
            height: 65px;
            transition: all 1s cubic-bezier(.25,.25,0,1);
            /* margin-top: 100px; */

            &__inner {
                width: 100%;
                display: flex;
                -ms-flex: 1 1 auto;
                padding: 68px 200px 56px 200px;

                @include media($to-xxxlarge) {
                    padding: 68px 110px 56px 110px;
                }

                @include media($to-xxlarge) {
                    padding: 68px 70px 56px 70px;
                }

                @include media($to-medium) {
                    padding: 68px 0px 56px 0px;
                    flex-flow: row wrap;
                }

            }

            &__thumbnail {
                flex: 0 0 250px;
                -ms-flex: 1 1 250px;

                img {
                    display: block;
                    width: 100%;
                    border: 1px solid $dogs-light-grey;
                }

                @include media($to-medium) {
                    flex: initial;
                }

            }

            &__text {
                padding-left: 50px;
                padding-top: 0px;

                h2{
                    margin: 10px 0;
                    font-family: 'GovernmentAgentBB';
                    font-size: rem(48);
                    color: $brand-purple;
                    text-transform: uppercase;
                }

                p {
                    font-family: 'GothamLight';
                    font-size: rem(16);
                }

                .button {
                    width: 100%;
                    max-width: 220px;
                    display: block;
                    margin-bottom: 10px;

                    @include media($to-medium) {
                       display: inline-block;
                    }
                }

                @include media($to-medium) {
                    padding-left: 0;
                    text-align: center;
                }

            }

            &__buttons {
                margin-top: 34px;

                .social-buttons{
                    height: 44px;
                    margin-bottom: 10px;
					

                    @include media($to-medium) {
                        margin-bottom: 0;
                    }



                    &__button{
						color:$brand-light-gold;
                        background-color: $brand-purple;
                        margin-right: 0px;
                    }
                }
            }

        }

        &__form {

            &__buttons{
                background-color: $brand-white;
                color: $brand-purple;
                /* width: 216px; */

                label{
                    cursor:pointer;
                }
            }

            button{
                width: 216px;
            }
        }

    }

    .form {
        text-align: center;

        &__field {
            width: 100%;
            margin-bottom: 14px;

            &__skew{
                transform: skew(-15deg);
                background-color: $brand-white;
                padding: 0 6px;

                input{
                    transform: skew(15deg);
                }
            }
        }


        &__input {
            width: 100%;
            background-color: tint($dogs-blue, 94%);
            border: none;
            font-size: rem(17);
            padding: 11px;
            transition: all 0.3s ease;
            text-overflow: ellipsis;
            font-family: 'GothamLight';
            color: $brand-dark-blue;
            font-size: rem(16);

            &:focus, &:active {
                outline: 0;
            }

            &:focus {
                //background-color: tint($brand-purple, 85%);
            }

            @include media($to-xsmall) {
                font-size: rem(15);
            }

        }

        &__submit {
            margin-top: 25px;

            .button {
                width: 100%;
                max-width: 220px;

                &:disabled {
                    opacity: 0.4;
                }

            }

        }

        &__select {
            width: 100%;
            height: 45px;
            position: relative;
            background-color: tint($dogs-blue, 94%);
            @extend %icon;
            @extend .icon-arrow-down;

            &:before {
                position: absolute;
                top: 50%; right: 15px;
                font-size: 14px;
                margin-top: -7px;
                color: $dogs-blue;
            }

            label {
                position: absolute;
                top: 0; left: 0;
                width: 100%; height: 100%;
                z-index: 20;
            }

            select {
                position: absolute;
                top: 0; left: 0;
                width: 100%;
                @include appearance(none);
                z-index: 10;
                border: none;
                background: none;
                font-size: rem(17);
                padding: 12px;
            }

        }

        &__file {
            width: 0.1px;
        	height: 0.1px;
        	opacity: 0;
        	overflow: hidden;
        	position: absolute;
        	z-index: -1;

            & + label {
                width: 100%;
                height: 100%;
            }

        }

        &__button{
            &__create{
                display: none;
                opacity: 0;
                width: 0;

                &--active{
                    display: inline-block;
                    width: 216px;
                    opacity: 1;
                }
            }
        }

    }

    .fine-print{
        text-align: center;
        margin: 15px 0 0px 0;
        font-family: 'Gotham';
        font-size: 12px;
        text-transform: uppercase;

        &__desktop{
            display: none;
            @include media($from-medium) {
                display: block;
            }
        }

        &__mobile{
            display: none;
            @include media($to-medium) {
                display: block;
            }
        }
    }

    .request-call {
        text-align: center;
        margin: 44px 0 58px 0;

        &__text {
            font-size: rem(19);
            margin-bottom: 20px;

            a {
                font-weight: 700;
                color: $dogs-red;
            }

        }

        .form__field, .form__submit {
            display: inline-block;
            vertical-align: middle;
            margin: 0 2px 20px 2px;
        }

        .form__field {
            width: 164px;
        }

        .form__submit {

        }

        &__errors {
            background-color: $dogs-red;
            color: #fff;
            width: 100%;
            max-width: 480px;
            display: inline-block;
            margin: 30px 0 0 0;
            padding: 20px;

            &__title {
                font-weight: 700;
                margin-bottom: 10px;
            }

        }

        &__sent {
            font-weight: 700;
            color: $dogs-blue;
        }

    }

    .footer {
        z-index: 15;
        position: relative;
        text-align: center;

        &__logo {
            width: 125px;
            background-image: url(../images/header__logo.png);
            background-position:  center center/100%;
            background-repeat: no-repeat;
            background-size: 125px 125px;
            text-align: left;
            display: inline-block;
            vertical-align: middle;
            margin-right: 15px;

            & a {
                display: block;
                width: 100%;
                padding-top: 102.34375%;
                text-indent: -9999em;
                font-size: 0;
            }
        }

        &__inner {
            position: relative;
        }

        &__links {
            //@extend %arvo;
            font-size: rem(14);
            font-weight: 400;
            color: $dogs-dark-grey;
            margin-top: 134px;

            br {
                display: none;

                @include media($to-small) {
                    display: block;
                }

            }

            span {
                display: inline-block;
                color: rgba(#000, 0.3);
                margin: 0 20px;

                @include media($to-small) {
                    display: none;
                }

            }

            a {
                display: inline-block;
                color: $dogs-dark-grey;
                transition: color 0.3s ease;

                &:hover {
                    color: $dogs-blue;
                    text-decoration: none;
                }

            }

            @include media($to-medium) {
                margin-top: 5px;
            }

        }

        &__copyright {
            //@extend %arvo;
            font-size: rem(14);
            font-weight: 400;
            color: $dogs-dark-grey;
            margin-top: 5px;

            a {
                color: $dogs-dark-grey;
            }

        }

        &__sponsors {
            background-color: #fff;
            font-size: 0;
            padding: 24px 0 0 0;

            &__sponsor{
                display: inline-block;
                vertical-align: middle;

                &--primary{
                    padding-right: 35px;
                    margin-right: 15px;
                    border-right: 1px solid #9a9a9a;
                }

                img{
                    max-height: 60px;
                }
            }

            &__title{
                display: inline-block;
                font-size: 1.25rem;
                color: #0c2340;
                text-transform: uppercase;
                line-height: 1;
                position: relative;
                top: 8px;
                padding-right: 85px;
                margin-bottom: 20px;
                vertical-align: middle;
                font-family: GovernmentAgentBB,Georgia,Times,"Times New Roman",serif;
                font-weight: 400!important;

                &:before{
                    position: absolute;
                    top: 0;
                    right: 44px;
                    font-size: 18px;
                    color: #87189d;
                    content: "\f054";
                    font-family: 'FontAwesome';
                    speak: none;
                    font-style: normal;
                    font-weight: 400;
                    font-variant: normal;
                    text-transform: none;
                    line-height: 1;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    text-indent: 0!important;
                }
            }

            &__logos{
                display: inline-block;
                vertical-align: middle;
                list-style-type: none;
            }



            @include media($to-medium) {
                margin-bottom: 0;
            }

            @include media($to-small) {
                margin-bottom: 0px;
            }

        }

        &__bottom{
            font-size: rem(14);
			z-index: 20;
			background: #fff;
			
            font-family: 'GothamBook';

            a{
                color: #000000;
                transition: .3s all ease;
            }

            .nav-footer-nav{
               display: inline-block;

                li{
                    display: inline-block;

                    &:before{
                        display: inline-block;
                        content: '|';
                        margin: 0 14px;
                        color: $brand-purple;
                        font-size: rem(14);
                    }
                }
            }
        }

        &__inner{
            color: #000000;
            font-size: .8125rem;
            padding: 0px 0 40px;

            &__by{
                margin-top: 10px;
            }
        }

        @include media($to-xxxlarge) {

        }

        @include media($to-xlarge) {

        }

        @include media($to-medium) {

        }

        @include media($to-small) {
            //padding-top: 440px;
        }

        @include media($to-small) {
            //padding-top: 680px;
        }

    }

    .poster-tags {
        position: relative;
        top: 60px; left: 50%;
        width: 1400px; height: 400px;
        margin-left: -700px;
        z-index: 10;

        &__tag {
            position: absolute;
            bottom: 50px; left: 0;
            width: 54px; height: 308px;
            font-size: rem(19);
            font-weight: 700;
            line-height: 1.47;
            text-align: left;

            &__inner {
                position: absolute;
                top: 50%; left: 50%;
                transform: rotate(-90deg);
                height: 54px;
                margin: -26px 0 0 -154px;
                white-space: nowrap;
            }

            a {
                color: #000;
                transition: color 0.3s ease;

                &:hover {
                    color: $dogs-red !important;
                    text-decoration: none;
                }

            }

            body.route-found &,
            body.route-posterMemberShare & {

                strong {
                    color: $dogs-red;
                }

                a {
                    color: $dogs-blue;
                }

            }

            &:nth-child(1) { left: 41px; }
            &:nth-child(2) { left: 197px; }
            &:nth-child(3) { left: 350px; }
            &:nth-child(4) { left: 509px; }
            &:nth-child(5) { left: 673px; }
            &:nth-child(6) { left: 988px; }
            &:nth-child(7) { left: 1315px; }

            @include media($to-xxxlarge) {

                &:nth-child(1) { left: 56px; }
                &:nth-child(2) { left: 195px; }
                &:nth-child(3) { left: 331px; }
                &:nth-child(4) { left: 468px; }
                &:nth-child(5) { left: 611px; }
                &:nth-child(6) { left: 888px; }
                &:nth-child(7) { display: none; }

            }

            @include media($to-xlarge) {

                &:nth-child(1) { left: 40px; }
                &:nth-child(2) { left: 180px; }
                &:nth-child(3) { left: 318px; }
                &:nth-child(4) { left: 600px; }
                &:nth-child(5) { display: none; }
                &:nth-child(6) { display: none; }

            }

            @include media($to-medium) {
                font-size: rem(16);
                bottom: 70px;

                &:nth-child(1) { left: 38px; }
                &:nth-child(2) { left: 132px; }
                &:nth-child(3) { left: 224px; }
                &:nth-child(4) { left: 414px; }

            }

            @include media($to-small) {
                font-size: rem(14);
                bottom: 60px;

                &:nth-child(1) { left: 42px; }
                &:nth-child(2) { left: 128px; }
                &:nth-child(3) { left: 292px; }
                &:nth-child(4) { display: none; }

            }

        }

        @include media($to-xxxlarge) {
            width: 1000px;
            margin-left: -500px;
        }

        @include media($to-xlarge) {
            width: 700px;
            margin-left: -350px;
        }

        @include media($to-medium) {
            width: 500px;
            top: 0;
            margin-left: -230px;
        }

        @include media($to-small) {
            width: 300px; height: 360px;
            top: 0;
            margin-left: -150px;
            margin-top: 30px;
        }

    }

    .social-buttons {
        margin-bottom: 10px;

        li {
            display: inline-block;
            margin-right: 13px;

            &:last-child {
                margin-right: 0;
            }

        }

        &__button {
            @extend %icon;
            display: block;
            width: 44px; height: 44px;
            transform: skew(-15deg);
            border: $brand-light-gold 2px solid;
            text-indent: -9999em;
            color: $brand-purple;
			background-color: $brand-light-gold;
            transition: all 0.3s ease;
			
			&.icon-download_icon:before{
				margin-left: -8px!important;
				font-family: 'icomoon'!important;
			}

            &:hover {
                background-color: $brand-purple;
                color: $brand-white;
                text-decoration: none !important;
            }

            &__facebook {
                @extend .icon-facebook;
            }

            &__twitter {
                @extend .icon-twitter;
            }

            &__email {
                @extend .icon-email;
            }

            &__instagram {
                @extend .icon-instagram;
            }

            &:before {
                position: absolute;
                top: 50%; left: 50%;
                font-size: 20px;
                margin: -10px 0 0 -10px;
                transform: skew(15deg);
            }

        }

    }

    .page-bg {
        position: absolute;
        width: 100%; height: 100%;
        left: 0;

        &--top {
            top: 0;
            //height: 1805px;
            background: url(../images/page-bg-top-desktop.jpg) #000000 no-repeat center top;

            /* @include media($to-xxxlarge) {
                background: url(../images/page-bg-1000-top.jpg) no-repeat center top;
            }

            @include media($to-xlarge) {
                background: url(../images/page-bg-760-top.jpg) no-repeat center top;
            }

            @include media($to-medium) {
                background: url(../images/page-bg-500-top.jpg) no-repeat center top;
            }

            @include media($to-small) {
                background: url(../images/page-bg-320-top.jpg) no-repeat center top;
            } */

        }

        &--bottom {
            bottom: 0;
            z-index: -1;
            background-image: url(../images/page-bg-bottom-desktop.jpg);
            background-repeat: no-repeat;
            background-position: center top;
            background-size: cover;
            //background: url(../images/page-bg-bottom-desktop.jpg) no-repeat center top;

            /* @include media($to-xxxlarge) {
                background: url(../images/page-bg-1000-bottom.jpg) no-repeat center top;
                height: 1534px;
            }

            @include media($to-xlarge) {
                height: 1421px;
                bottom: -150px;
                background: url(../images/page-bg-760-bottom.jpg) no-repeat center top;
            }

            @include media($to-medium) {
                height: 997px;
                bottom: 0;
                background: url(../images/page-bg-500-bottom.jpg) no-repeat center top;
            }

            @include media($to-small) {
                height: 453px;
                bottom: auto;
                top: 0;
                background: url(../images/page-bg-320-bottom.jpg) no-repeat center top;
            } */

        }

    }

    .callouts-wrapper{
        //background: url(../images/page-bg-bottom-desktop.jpg) no-repeat center top;
        position: relative;
    }



    .contact {
        text-align: center;
        padding: 0 200px;
		
		&.top{
			padding-bottom: 35px;
		}
		
		
		&.hexarrow{
			background-color: #f2f2f2;
			
			&:before{
				
				background-image: url(../images/arrow_black_grey_fill.png);
				background-size: cover;
				top: -130px;
			}
			&:after{
				
				background-image: none;
			}
		}
		
		&.bottom{
			
			z-index: 20;
			background: #f2f2f2
		}
		
		&__connect{
			padding: 80px 0 70px 0;
			
			p{
				
				font-size: rem(27);
				text-transform: uppercase;
				line-height: rem(21);
				text-align: center;
				display: block;
				padding-bottom: 5px;
				margin-bottom: 15px!important;
				color: $brand-purple;
				font-family: 'GovernmentAgentBB';
				
				
				a{
					color: $brand-purple;
					text-decoration: none;
					
					
					
				}
			}
			
			.social-buttons__button{
				border:none;
				background: $brand-purple;
				&:before{
					
					color:#fff;
				}
				
			}
		}


		&__form{
			
			&__field{
				text-align: left;
				margin-bottom: 25px;
				
				
				label{
					font-size: rem(20);
					text-transform: uppercase;
					line-height: rem(21);
					text-align: left;
					display: block;
					padding-bottom: 5px;
					color: $brand-light-gold;
					font-family: 'GovernmentAgentBB';
				}
				
				textarea{
					
					min-height: 180px;
				}
			}
			
			&__submit{
				
				text-align: left;
				margin-bottom: 20px;
			}
		}
		
		



        &__col {
            display: flex;
            -ms-flex: 1 1 auto;
            padding: 0 15px;
            margin-bottom: 50px;
            flex-wrap: wrap;

            @include media($to-xxxlarge) {
                margin-bottom: 0px;
            }
			
			
			&__center{
				
				text-align: center;
				width: 100%;
				
				h2{
					
					text-align: center;
				}
			}

            &>div{

                margin: 0 15px;
                flex-grow: 0;
                /* flex-shrink: 0; */

                @include media($to-xxxlarge) {
                    flex-basis: 100%;
                }

            }



            &-half{
                flex-basis: 46.9%;
				
				.inner{
					
					padding-right: 50px;
				}

            }

            &-top-border{
                position: relative;

                &:after{

                    content: '';
                    height: 1px;
                    width: 100%;
                    background-color: rgba(255,255,255,.3);
                    position: absolute;
                    top: 0;
                    right: 0;

                    @include media($to-xxxlarge) {
                        display: none;
                    }
                }

                @include media($to-xxxlarge) {
                    padding: 15px 0;
                }

            }


            .button--gold{
                margin-left: 10px;
            }



            &__bottom-border{
                border-bottom: rgba(255,255,255,.3) solid 1px;
                padding-bottom: 40px;
                width: 100%;
            }


            &__title{
                font-family: 'GovernmentAgentBB';
                color: $brand-white;
                font-size:  rem(38);
                text-transform: uppercase;
                font-weight: 100;
                margin: 10px 0;
                text-align: left;
                font-size: rem(48);
                line-height: 1em;

                @include media($to-xxxlarge) {
                    text-align: center;
                }

                span{
                   color: $brand-light-gold;
                }

                &-gold{
                    font-family: 'GothamMedium';
                    font-size: rem(18) !important;
                    text-align: left;
                    color: $brand-white;
                    line-height: 1.5em !important;

                    @include media($to-xxxlarge) {
                        text-align: center;
                    }
                }
				
				&-white{
					border-top:none!important;
					padding-top: 20px!important;
                    font-family: 'GothamMedium';
                    font-size: rem(17) !important;
                    text-align: left;
                    color: $brand-white;
					font-weight: normal!important;
					text-transform:inherit!important;
                    line-height: 23px !important;
					padding-right: 150px!important;
					margin-bottom: 20px!important;

                    @include media($to-xxxlarge) {
                        text-align: center;
						padding-right: 0px!important;
                    }
                }
            }





            @include media($to-xlarge) {
                width: 100%;
                margin-bottom: 30px;

                .button {
                    width: 100%;
                }

            }

            @include media($to-small) {
                flex-flow: row wrap;
            }

        }
















        h1 {
            font-size: rem(81);
            font-weight: 700;
            text-transform: uppercase;
            margin: 80px 0 50px 0;
            line-height: 0.9516;
            text-transform: uppercase;
            line-height: 1;
            color: $brand-white;
            font-family: 'GovernmentAgentBB';
        }

        h2 {
			padding-top: 50px;
            font-size: rem(48);
            text-transform: uppercase;
            margin: 0 0 31px 0;
            line-height: 0.9516;
			border-top:1px solid #555555;

            .resp {
                display: none;

                @include media($to-xlarge) {
                    display: block;
                }

            }

        }

        p {
            font-size: rem(22);
            line-height: 1.27;
            margin: 0 0 0 0;
        }

        &__form {
            

            @include media($to-xxxlarge) {
                padding: 0;
            }

        }

       
        &__errors {
            background-color: $dogs-red;
            color: #fff;
            width: 100%;
            
            display: inline-block;
            margin: 0px 0 30px 0;
            padding: 20px;

            &__title {
                font-weight: 700;
                margin-bottom: 10px;
            }

        }

        &__sent {
            font-weight: 700;
            color: #ffb81c;
			text-align: center;
			font-size: rem(17) !important;
			padding-bottom: 20px;
        }

        @include media($to-xxxlarge) {
            padding: 0;
        }

        @include media($to-medium) {

            h1 {
                font-size: rem(80);
                margin: 30px 0;
            }

            h2 {
                font-size: rem(36);
            }

        }

    }

    .modal {
        position: fixed;
        top: 0; left: 0;
        width: 100%; height: 100%;
        background-color: rgba(#fff, 0.5);
        display: flex;
        -ms-flex: 1 1 auto;
        align-items: center;
        justify-content: center;
        z-index: 9999;
        overflow-y: auto;
        padding: 30px;
        transition: all 0.3s ease;

        &--hidden {
            visibility: hidden;
            opacity: 0;

            .modal__inner {
                transform: scale(1.1);
            }

        }

        h3 {
            font-size: rem(30);
			font-family: 'GovernmentAgentBB';
            text-transform: uppercase;
            font-weight: 700;
            color: $brand-purple;
            margin: 0 0 30px 0;
        }

        &__inner {
            width: 100%; max-width: 620px;
            background-color: #fff;
            padding: 40px;
            box-shadow: 5px 5px 20px rgba(#000, 0.2);
            transform: scale(1);
            transition: all 0.3s ease;
        }

        &--send-poster {
        }

        &__errors {
            background-color: $dogs-red;
            color: #fff;
            width: 100%;
            display: inline-block;
            margin: 0 0 30px 0;
            padding: 20px;

            &--hidden {
                display: none;
            }

            &__title {
                font-weight: 700;
                margin-bottom: 10px;
            }

        }

        &__close {
            position: absolute;
            top: 0; right: 0;
            background: none; border: none;
            font-size: rem(18);
            color: $dogs-light-grey;
            padding: 20px;

            &:focus, &:active {
                outline: 0;
            }

        }

        &__response {
            font-size: rem(18);
            color: $dogs-blue;
            font-weight: 700;
        }

    }



@-webkit-keyframes uil-rolling-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes uil-rolling-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes uil-rolling-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes uil-rolling-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes uil-rolling-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes uil-rolling-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes uil-rolling-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes uil-rolling-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.uil-rolling-css {
  width: 200px;
  height: 200px;
}
.uil-rolling-css > div {
  width: 200px;
  height: 200px;
  position: relative;
  -ms-animation: uil-rolling-anim 1s linear infinite;
  -moz-animation: uil-rolling-anim 1s linear infinite;
  -webkit-animation: uil-rolling-anim 1s linear infinite;
  -o-animation: uil-rolling-anim 1s linear infinite;
  animation: uil-rolling-anim 1s linear infinite;
}
.uil-rolling-css > div div {
  position: absolute;
  width: 200px;
  height: 100px;
  border-radius: 1000px 1000px 0 0;
  border-color: $brand-light-gold;
  border-style: solid;
  border-width: 40px;
  border-bottom-width: 0;
}
.uil-rolling-css > div div:nth-of-type(2) {
  -ms-transform: translate(0, 50px) rotate(54deg) translate(0, -50px);
  -moz-transform: translate(0, 50px) rotate(54deg) translate(0, -50px);
  -webkit-transform: translate(0, 50px) rotate(54deg) translate(0, -50px);
  -o-transform: translate(0, 50px) rotate(54deg) translate(0, -50px);
  transform: translate(0, 50px) rotate(54deg) translate(0, -50px);
}

    .responsive-nav-wrap {
        position: fixed;
        top: 0; left: 0;
        width: 100%; height: 100%;
        z-index: 999;
        visibility: hidden;
        @include transition(visibility 0s linear 0.5s);

        body.nav-open & {
            visibility: visible;
            @include transition(visibility 0s linear 0s);
        }

        @media screen and (min-width: 880px) {
            display: none !important;
        }


        .responsive-nav {
            position: absolute;
            top: 0; left: 20%;
            width: 80%; height: 100%;
            background-color: rgba(#fff, 0.95);
            background: linear-gradient(45deg, rgba(12,35,64,1) 0%, rgba(135,24,157,1) 100%);
            text-align: center;
            z-index: 2;
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;
            padding-top: 20px;
            overflow: hidden;

            @include transition(all 0.5s ease);
            @include transform(translateX(100%));

            body.nav-open & {
                @include transform(translateX(0));
            }

            &__ul {
                width: 100%;
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    display: block;
                    width: 100%;
                    margin: 0; padding: 0;
                    border: none;
                    position: relative;

                    &:first-child{

                        &:after{
                            content: '';
                            width: 80%;
                            height: 1px;
                            background-color: rgba($brand-white,.3);
                            position: absolute;
                            bottom: 0;
                            right: 10%;

                        }
                    }

                    a {
                        display: block;
                        padding: 12px 32px;
                        font-size: rem(19);
                        line-height: 1.3;
                        text-transform: uppercase;
                        color: #000;
                        display: block;
                        font-family: 'GovernmentAgentBBRegular';
                        color: $brand-light-gold;
                        font-size: 25px;
                        text-transform: uppercase;

                        &:hover {
                            text-decoration: none;
                        }

                    }

                    .sub-menu {
                        padding-left: 25px;

                        li a {
                            font-size: rem(14);
                        }

                    }

                    .sub-menu {
                        transition: all 1s cubic-bezier(.25,.25,0,1);
                        max-height: 0;
                        overflow: hidden;

                        > li {

                            > a {
                                padding-left: 20px;
                                br { display: none; }
                            }

                        }

                    }

                }

                li + li {

                }

            }

            &__share {
                padding: 0 32px 15px 32px;
                font-family: 'GovernmentAgentBBRegular';
                color: $brand-light-gold;
                font-size: 25px;
                text-transform: uppercase;
                position: relative;

                &:after{
                    content: '';
                    width: 80%;
                    height: 1px;
                    background-color: rgba($brand-white,.3);
                    position: absolute;
                    bottom: 0;
                    right: 10%;

                }
            }

        }

        .responsive-nav-dismiss {
            position: absolute;
            top: 0; left: 0;
            width: 100%; height: 100%;
            z-index: 1;
            background-color: transparent;
        }

    }



//---------------------

.row {
    display: flex;
    -ms-flex: 1 1 auto;
    flex-flow: row wrap;
    margin: 0 -15px;
    margin-top: 12px;
    padding-top: 43px;
    border-top: 1px solid $dogs-light-grey;

    .col{
        display: flex;
        -ms-flex: 1 1 auto;
        padding: 0 15px;

        &-one-third{
           width: 31%;
        }

        &-two-third{
           width: 62%;
        }

        &-half{
           width: 49%;
        }
    }
}
